<div id="cart-page" style="padding: 50px; margin-top: 60px;">
  <div class="o-layout__item u-12@large u-12@tiny u-margin-bottom u-no--padding u-margin-top@small">
    <h1>سلة المشتريات
      <div class="u-pull--left cart_button">
        <div class="filter-sort u-pull--left">
          <a routerLink="/cart" class="c-button c-button--primary dropdown-button c-button--ghost"
            data-jq-dropdown="#jq-filter-sort">
            <span class="text">خيارات</span>
            <i class="fa fa-caret-down"></i>
          </a>
          <div id="jq-filter-sort" class="jq-dropdown jq-dropdown-tip" style="display: none; top: 114px;">
            <ul class="jq-dropdown-menu">
              <li><a href="#" class="filter" id="add_cart_to_collection"><i class="fa fa-briefcase fa-fw"></i> حفظ السلة
                  في مجموعة</a></li>
            </ul>
          </div>
        </div>
      </div>
    </h1>
  </div>

  <div id="cart_items">
    <div class="c-card">
      <div class="c-card__body u-no--padding">
        <form action="/cart" name="cart_items_form" id="cart_items_form" method="PUT">
          <input id="user_token" type="hidden" name="token" value="2fc3268f89a77b1c1f6bfcdcb9e8c9abfb29be79">
          <table id="cart_table">
            <tbody>
              <tr>
                <th>الخدمة</th>
                <th width="16%">مرات الطلب</th>
                <th width="14%">المبلغ</th>
                <th width="5%"></th>
              </tr>
              <tr *ngFor="let item of cart">
                <input type="hidden" value="1205849:9:" name="items[]" id="cart-item-4353464">
                <td>
                  <a class="service_title" routerLink="/service/Details/{{item.service?.id}}"
                    title="{{item.service?.title}}" target="_blank">{{item.service?.title}}</a>
                  <ul id="upgrades-4353464" class="cart_service_upgrades u-checkbox">
                    <li class="cart_service_upgrade o-layout--flex"
                      *ngFor="let dev of item.service?.serviceDevelopmentsVM">
                      <div class="checkbox_col">
                        <label>
                          <input class="cart_item_service_upgrade" type="checkbox" value="true"
                           (change)="UpdataPrice(item, dev.price,ch.checked)" #ch>
                          <span></span>
                        </label>
                      </div>
                      <div class="content_col">
                        <div class="upgrade_text">
                          <span class="upgrades_amount">+ ${{dev.price}}</span>
                          {{dev.description}}
                        </div>
                      </div>
                    </li>

                  </ul>
                </td>
                <td>
                  <select class="cart_item_quantity" id="quantity-4353464" #qua
                    (change)="calculatePrice(item, qua.value)">
                    <option value="{{i}}" [selected]="i == item.quantity" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10]">
                      {{i}} </option>

                  </select>
                </td>
                <td>$<span id="cart_item_amount">{{item.quantity * 5 + (item.price||0) *item.quantity  }}</span></td>
                <td>
                  <a data-id="4353464" href="/cart" class="u-clr--danger remove_cart_item"
                    (click)="removeItem(item.id)"><i class="fa fa-times u-clr--danger"></i></a>
                </td>
              </tr>

              <tr>
                <td class="u-hidden@small">&nbsp;</td>
                <td>
                  <div class="cart-info">الإجمالي</div>
                  <div class="cart-info">الرسوم <span class="tooltip u-clr--primary tooltipstered"><i
                        class="fa fa-lg fa-info-circle"></i></span></div>
                  <div class="cart-info"><strong>المجموع الكلي</strong></div>
                </td>
                <td id="total_amount_td">
                  <div class="cart-info">
                    $<span id="cart_total_amount_items">{{totalPrice}}.00
                    </span></div>
                  <div class="cart-info">
                    $<span id="cart_fees">10.00
                    </span></div>
                  <div class="cart-info">
                    $<span id="cart_total_amount">{{totalPrice + 10}}.00
                    </span></div>
                </td>
                <td class="u-hidden@small">&nbsp;</td>
              </tr>

            </tbody>
          </table>
        </form>
      </div>

      <div class="c-card__footer">
        <form action="/cart/checkout" method="post" id="cart_checkout_form">
          <div class="u-text--center">
            <button type="submit" class="c-button c-button--primary checkout-button u-block@small">ادفع الآن</button>
          </div>
          <input id="user_token" type="hidden" name="token" value="2fc3268f89a77b1c1f6bfcdcb9e8c9abfb29be79">
        </form>
      </div>
    </div>

    <div class="cart_suggested_services">
      <h2 class="u-margin-bottom@large u-margin-bottom@small u-no--padding">مشترون آخرون اشتروا أيضاً</h2>
      <div class="o-layout o-layout--flex">
        <div id="service-1136221" *ngFor="let ser of serList"
          class="o-layout__item u-12@tiny u-6@small u-3@large u-4@medium u-margin-bottom--large service-block   ">
          <div class="c-box">
            <a routerLink="/service/Details/{{ser.id}}"
              title="{{ser.title}}" class="c-box__url">
              <img src="https://khamsat.hsoubcdn.com/images/services/964851/f237928e96720e6113ce28a39722c8b8_thumb.jpg"
                loading="lazy" class="c-box__image">
            </a>

            <h3 class="c-box__title">
              <a
                routerLink="/service/Details/{{ser.id}}">{{ser.title}}</a>
            </h3>

            <div class="c-box__meta">
              <a routerLink="/service/Details/{{ser.id}}"
                title="{{ser.title}}">
                <span>{{ser.noOfBuyerServices || 0}} اشتروا هذه الخدمة</span>
              </a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="u-text--center u-margin-top--huge hidden" id="cart_loading">
    <i class="fa fa-spinner fa-spin fa-3x"></i>
  </div>



  <div id="add_to_collection_dialog" class="hidden">
    <div id="add_to_collection_form_wrapper" class="dialog_form">
      <div class="c-card">
        <div class="c-card__head">
          <h2>إضافة إلى مجموعة</h2>
        </div>
        <div class="dialog_content">
          <i class="fa fa-spinner fa-spin fa-fw"></i>
        </div>
      </div>
    </div>
  </div>

</div>