
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CDNs -->

<script src="https://kit.fontawesome.com/9ebabaf617.js"crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"crossorigin="anonymous"/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="crossorigin="anonymous"></script>

<link href="https://khamsat.hsoubcdn.com/assets/images/favicon-740117d323c70fbc071fefd88fbff2f0bb0746f995a2f852ac2d46bea229f212.png" rel="shortcut icon" type="image/png">
<link rel="stylesheet" href="//static.hsoubcdn.com/assets/fonts/css/OpenSans.css" media="all">
<link rel="stylesheet" href="//static.hsoubcdn.com/assets/fonts/css/NotoArabic.css" media="all">
<link rel="stylesheet" href="https://khamsat.hsoubcdn.com/assets/css/application-7ae93331a6ca4253577ecd9bada418ea8ae96d41b18f273ed7d183353b9bcbd3.css" media="all">
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
<div class="body">
<app-hsoub-header></app-hsoub-header>
<div class="container-xxl" >
<div class="page">
<div class="container">

<div class="page-box row">

  <div class="hsoub-container">
    <div class="hsoub-content">
      <div id="root" class="wrapper">
    <div class="container-fluid false">
      <div class="main main-spacer-wide">
        <h2>بيان الخصوصية</h2>
        <p>نحن في شركة حسوب ملتزمون بتأمين خصوصيتك حين تزور موقعنا وتتواصل معنا الكترونياً. هذه الصفحة توضح الوجه الذي سيتم عليه استخدام أي معلومات شخصية تزودنا بها، أو تلك التي نجمعها نحن عنك خلال تواجدك في موقعنا.</p>
        <br>
        <h2>المعلومات التي يتم جمعها وتخزينها</h2>
        <ul>
          <li>جميع المعلومات التي يزودها المستخدم عند التسجيل كالإسم
            ، اسم المستخدم والبريد الالكتروني على سبيل المثال لا الحصر.</li>
          <li>المواد التي يساهم بها المستخدم من مواضيع، روابط وتعليقات.</li>
          <li>ملفات التسجيل logs عند استخدام الموقع تخزّن لمدة أقصاها 6 أشهر.</li>
        </ul><br>
        <h2>المعلومات التي تخزن على جهاز المستخدم</h2>
          <p>يتم تخزين معلومات تعريف الارتباط cookies عند تسجيل دخولك للموقع.
            هذه الملفات ضرورية لتعريف كل مستخدم ويتم ازالتها
            عند تسجيل خروج المستخدم من الموقع.</p><br>
        <h2>استخدام ومشاركة المعلومات</h2>
            <p>يتم التعامل مع جميع المعلومات التي يزودها المستخدمين بسرية تامة ولا يتم بيعها
              أو مشاركتها مع أي طرف ثالث غير مخوّل بالوصول اليها. حالات استخدام المعلومات:</p>
              <ul>
                <li>تطوير الخدمات التي يقدمها الموقع وخدمات شركتنا المختلفة.</li>
                <li>في حال التعاقد مع طرف ثالث لتطوير الخدمات التي نقدمها بعدالالتزام بعدم مشاركة أي معلومات تتعارض مع بيان الخصوصية هذا.
                </li>
                <li>إذا كنا ملزمين قانونيا بأمر قضائي بالكشف عن أي معلومات.

                </li></ul><br><h2>الموافقة على بيان الخصوصية</h2>
                <p>باستخدامك للموقع فأنت توافق على بيان الخصوصية هذا. نقوم بتحديث هذا البيان من حين لآخر، ولذلك نرجو أن تراجع صفحة
                   بيان الخصوصية باستمرار لتبقى ملما بالتحديثات.</p><br>
                   <em>آخر تعديل: 1/8/2016</em></div>
                   </div></div></div></div>



</div>

</div>
</div>

</div>

<footer style="display: flex;justify-content: center;align-items: center;height: 70px;margin-top: -80px;">
<p class="copyrights">© 2021 حسوب. جميع الحقوق محفوظة.</p>
</footer>


</div>
