<div class="hsoub-container " style="padding: 3%; margin-top: 35px;" >
    <div class="hsoub-content">


        <div class="o-wrapper ">

            <div class="content inside">
               
                <div class="o-layout o-layout--flex">
                    <div class="o-layout__item u-12@medium u-12@tiny">
                    </div>

                    <div class="o-layout__item u-12@tiny">

                        <div
                            class="o-layout__item u-12@large u-12@tiny u-margin-bottom u-no--padding u-margin-top@small">
                            <h1>مركز التنبيهات</h1>
                        </div>

                        <div class="c-card">
                            <div class="c-card__body u-no--padding">
                                <div class="panel panel-default">
                                    <table id="notifications_table">
                                        <colgroup>
                                            <col class="u-avatar-col">
                                            <col width="auto">
                                        </colgroup>
                                        <tbody>
                                            <tr id="notification-44899090" class="notification-item " 
                                            *ngFor="let notification of signalRService.Notifications">
                                                <td class="avatar-td u-text--center">
                                                    <a href="/user/azoooz11111">
                                                        <img class="u-circle img-thumbnail img--medium"
                                                            src="https://avatars.hsoubcdn.com/6048019056eea385a42c2b8c697273f4?s=128">
                                                    </a>
                                                </td>

                                                <td class="details-td" >
                                                    <h3 class="details-head"> {{ notification.message}} </h3>
                                                    <ul class="details-list">
                                                        <li>
                                                            <i class="fa fa-fw fa-clock-o"></i>
                                                            <span dir="ltr">{{notification.date | customDate}}</span>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>

                </div><!--  END o-layout -->
            </div>
            <!--  END content -->
        </div>
        <!--  END o-wrapper -->

    </div>
</div>