<header class="hsoub-header" style="" #navbar [ngClass]="{'sidebar-active': isAside}">
  <div class="hsoub-box"><a class="hsoub-bars hsoub--visible-h hsoub-desktop hsoub-tablet hsoub-mobile"
      (click)="AsideToggle()">
      <i class="hsoub-bars-icon"></i>
    </a><a routerLink="/home" class="hsoub-logo"><img class="hsoub-logo-img hsoub--visible-h hsoub-desktop hsoub-tablet "
        src="https://khamsat.hsoubcdn.com/assets/images/logo-73045c76e830509d4dbe03ea6172d22f047c708fed5435e93ffd47f80ee5ffa4.png"><img
        class="hsoub-logo-img hsoub--visible-h   hsoub-mobile"
        src="https://khamsat.hsoubcdn.com/assets/images/logo-mobile-215fffeb86f5121a190d2551c62feea201ca1b4e0d5ea7feef9f5aa04a55dac4.png"></a>
    <ul class="hsoub-menu ">
      <li class="hsoub-menu-item hsoub--visible-h hsoub-desktop  " *ngIf="isUserLoggedIn()">
        <a class="hsoub-menu-item-link     " routerLink="/service/add">
          <i class="hsoub-menu-item-link-icon fa fa-plus"></i>
          <span>أضف خدمة</span>
        </a>
      </li>
      <li class="hsoub-menu-item hsoub--visible-h hsoub-desktop hsoub-tablet">
        <a class="hsoub-menu-item-link" (click)="dropdownMenuToggle()">
          <i class="hsoub-menu-item-link-icon fa fa-cubes"></i>
          <span>التصنيفات</span>
        </a>
      </li>
      <li class="hsoub-menu-item hsoub--visible-h hsoub-desktop  " *ngIf="isUserLoggedIn()">
        <a class="hsoub-menu-item-link     " href="/orders/1">
          <i class="hsoub-menu-item-link-icon fa fa-folder-open"></i>
          <span >المشتريات</span>
        </a>
      </li>
      <li class="hsoub-menu-item hsoub--visible-h hsoub-desktop  "*ngIf="isUserLoggedIn()">
        <a class="hsoub-menu-item-link     " href="/orders/0">
          <i class="hsoub-menu-item-link-icon fa fa-truck"></i>
          <span>الطلبات الواردة</span>
        </a>
      </li>
    </ul>
    <div class="hsoub-megamenu " [ngClass]="{'hsoub-megamenu-active': isAcctive}">
      <div class="hsoub-megamenu-row">
        <div class="hsoub-megamenu-column">
          <ul class="hsoub-bullets">
            <li class="hsoub-bullet-head">
              <a class="hsoub-bullet-link" routerLink="/Category/1"> أعمال </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/1">
                ادخال بيانات
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/2">
                استشارات أعمال
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/3">
                تجارة الكترونية
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/4">
                خدمات قانونية
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/5">
                خدمات مالية
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/6">
                دراسات وأبحاث
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/7">
                مساعد افتراضي
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/8">
                أخرى
              </a>
            </li>
          </ul>
        </div>
        <div class="hsoub-megamenu-column">
          <ul class="hsoub-bullets">
            <li class="hsoub-bullet-head">
              <a class="hsoub-bullet-link" routerLink="/Category/2">
                برمجة وتطوير
              </a>
            </li>
            <li class="hsoub-bullet">
              <a
                class="hsoub-bullet-link"
                routerLink="/SubCategory/9"
              >
                أنظمة ادارة المحتوى
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/10">
                اختبارات تجريبية
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/11">
                السيرفرات ولينكس
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/12">
                برمجة CSS و HTML
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/13">
                برمجة Java و .NET
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link"routerLink="/SubCategory/14">
                برمجة PHP
              </a>
            </li>
            <li class="hsoub-bullet">
              <a
                class="hsoub-bullet-link"
                routerLink="/SubCategory/15"              >
                برمجة بايثون
              </a>
            </li>
            <li class="hsoub-bullet">
              <a
                class="hsoub-bullet-link"
                routerLink="/SubCategory/16"              >
                برمجة تطبيقات الجوال
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/17">
                تطبيقات سطح المكتب
              </a>
            </li>
            <li class="hsoub-bullet">
              <a
                class="hsoub-bullet-link"
                routerLink="/SubCategory/18"
              >
                تطوير متاجر إلكترونية
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/19">
                خدمات مدونات بلوجر
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/20">
                خدمات ووردبريس
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/21">
                دعم فني تقني
              </a>
            </li>
            <li class="hsoub-bullet">
              <a
                class="hsoub-bullet-link"
                routerLink="/SubCategory/22"
              >
                أخرى
              </a>
            </li>
          </ul>
        </div>
        <div class="hsoub-megamenu-column">
          <ul class="hsoub-bullets">
            <li class="hsoub-bullet-head">
              <a class="hsoub-bullet-link" routerLink="/Category/3">
                تسويق الكتروني
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/23">
                إعلانات المواقع
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/24">
                استشارات تسويقية
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/25">
                الإعلانات والتسويق على الجوال
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/26">
                التسويق بالمحتوى
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/27">
                التسويق عبر البريد الإلكتروني
              </a>
            </li>
            <li class="hsoub-bullet">
              <a
                class="hsoub-bullet-link"
                routerLink="/SubCategory/28"
              >
                التسويق عبر انستقرام
              </a>
            </li>
            <li class="hsoub-bullet">
              <a
                class="hsoub-bullet-link"
                routerLink="/SubCategory/29"
              >
                التسويق عبر محركات البحث SEM
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/30">
                التسويق على تويتر
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/31">
                التسويق على سناب شات
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/32">
                التسويق على فيسبوك
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/33">
                التسويق على يوتيوب
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/34">
                تحليلات المواقع
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/35">
                خدمات SEO
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/36">
                أخرى
              </a>
            </li>
          </ul>
        </div>
        <div class="hsoub-megamenu-column">
          <ul class="hsoub-bullets">
            <li class="hsoub-bullet-head">
              <a class="hsoub-bullet-link" routerLink="/Category/4"> تدريب عن بعد </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/37">
                استشارات شخصية
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/38">
                الصحة واللياقة البدنية
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/39">
                تعلم البرمجة
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/40">
                تعلم التسويق الالكتروني
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/41">
                تعلم التصميم
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/42">
                تعلم اللغات
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/43">
                تعلم اللغة الإنجليزية
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/44">
                تعلم اللغة الفرنسية
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/45"> فنون وحرف </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/46">
                مساعدة بحل الواجبات
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/47">
                نصائح سياحة وسفر
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/48">
                أخرى
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="hsoub-megamenu-row">
        <div class="hsoub-megamenu-column">
          <ul class="hsoub-bullets">
            <li class="hsoub-bullet-head">
              <a class="hsoub-bullet-link" routerLink="/Category/5">
                تصميم فيديو
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/49">
                تصميم صور متحركة
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/50">
                تصميم مقدمات فيديو
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/51">
                موشن جرافيك
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/52">
                مونتاج فيديو
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/53">
                وايت بورد
              </a>
            </li>
            <li class="hsoub-bullet">
              <a
                class="hsoub-bullet-link"
                routerLink="/SubCategory/54"
              >
                أخرى
              </a>
            </li>
          </ul>
        </div>
        <div class="hsoub-megamenu-column">
          <ul class="hsoub-bullets">
            <li class="hsoub-bullet-head">
              <a class="hsoub-bullet-link" routerLink="/Category/6"> تصميم </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/55">
                أغلفة كتب ومجلات
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/56">
                تصميم بانرات إعلانية
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/57">
                تصميم بطاقات أعمال
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/58">
                تصميم تيشرتات
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/59">
                تصميم شعار
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/60">
                تصميم عروض تقديمية
              </a>
            </li>
            <li class="hsoub-bullet">
              <a
                class="hsoub-bullet-link"
                routerLink="/SubCategory/61"
              >
                تصميم معماري وديكور
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/62">
                خدمات تعديل الصور
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/63">
                رسوم كارتونية
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/64">
                فلاير وبرشور ورول اب
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/65">
                أخرى
              </a>
            </li>
          </ul>
        </div>
        <div class="hsoub-megamenu-column">
          <ul class="hsoub-bullets">
            <li class="hsoub-bullet-head">
              <a class="hsoub-bullet-link" routerLink="/Category/7"> صوتيات </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/66">
                إنتاج كتب صوتية
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/67">
                المعالجة الصوتية
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/68">
                تحرير بودكاست
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/69">
                تعليق صوتي
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/70">
                أخرى
              </a>
            </li>
          </ul>
        </div>
        <div class="hsoub-megamenu-column">
          <ul class="hsoub-bullets">
            <li class="hsoub-bullet-head">
              <a class="hsoub-bullet-link" routerLink="/Category/8"> كتابة وترجمة </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/71">
                الكتابة الإبداعية
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/72">
                تفريغ نصوص
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/73">
                خدمات تدقيق لغوي
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/74">
                خدمات ترجمة
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/75">
                خدمات تلخيص
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/76">
                كتابة السيرة الذاتية
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/77">
                كتابة النصوص الإعلانية
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/78">
                كتابة سيناريو
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/79">
                كتابة محتوى متخصص
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/80">
                كتابة محتوى مواقع
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/81">
                كتابة مقالات ومراجعات
              </a>
            </li>
            <li class="hsoub-bullet">
              <a class="hsoub-bullet-link" routerLink="/SubCategory/82">
                أخرى
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <ul class="hsoub-menu hsoub-menu--is-minor">

      <li class="hsoub-menu-item hsoub--visible-h hsoub-desktop hsoub-tablet hsoub-mobile hide-xs-only">
        <a class="hsoub-menu-item-link hsoub-menu-item-link--is-large    " routerLink="/cart" title="سلة المشتريات">
          <span class="c-badge " style="background-color: #e75737; border-radius:20px;
          bottom: 10px; position: relative;line-height: 1; " *ngIf="itemsNumber != 0">{{itemsNumber}}</span>

          <i class="hsoub-menu-item-link-icon fa fa-shopping-cart"></i>
        </a>
        <div class="hsoub-list hsoub-list-right">
          <ul class="hsoub-list-group" data-empty="لا توجد أي خدمات بعد">
            <li class="hsoub-list-item">
              <div class="hsoub-list-item-content">
                <a
                  class="hsoub-list-item-link"
                  href="/business/legal-services/1205849-%D8%AA%D9%82%D8%AF%D9%8A%D9%85-%D8%A7%D9%84%D8%A7%D8%B3%D8%AA%D8%B4%D8%A7%D8%B1%D8%A7%D8%AA-%D8%A7%D9%84%D9%82%D8%A7%D9%86%D9%88%D9%86%D9%8A%D8%A9-%D9%88%D8%B5%D9%8A%D8%A7%D8%BA%D8%A9-%D8%A7%D9%84%D8%B9%D9%82%D9%88%D8%AF"
                >
                  تقديم الاستشارات القانونية وصياغة العقود
                </a>
                <div class="hsoub-list-item-date"></div>
              </div>
            </li>
          </ul>
          <a class="hsoub-list-action-link" href="/cart"
            ><i class="fa fa-fw fa-shopping-cart"></i> اعرض سلة المشتريات</a
          >
        </div>
      </li>
      <li class="hsoub-menu-item hsoub--visible-h hsoub-desktop hsoub-tablet hsoub-mobile" *ngIf="isUserLoggedIn()">
        <a class="hsoub-menu-item-link hsoub-menu-item-link--is-large    " routerLink="/messages" title="الرسائل">
          <i class="hsoub-menu-item-link-icon fa fa-envelope"></i>
        </a>
        <div class="hsoub-list hsoub-list-right">
          <ul class="hsoub-list-group" data-empty="لا جديد حتى اللحظة!">


          </ul><a class="hsoub-list-action-link" routerLink="/messages"><i class="fa fa-fw fa-envelope"></i> جميع الرسائل</a>
        </div>
      </li>
      <li class="hsoub-menu-item hsoub--visible-h hsoub-desktop hsoub-tablet hsoub-mobile" *ngIf="isUserLoggedIn()">
        <a class="hsoub-menu-item-link hsoub-menu-item-link--is-large    " title="الإشعارات" (click)="notfiyToggle()">
          <span class="c-badge " style="background-color: #e75737; border-radius:20px;
          bottom: 10px; position: relative;line-height: 1; " *ngIf="signalRService.newNotificationsCount != 0">
            {{signalRService.newNotificationsCount}}</span>

          <i class="hsoub-menu-item-link-icon fa fa-bell"></i>
        </a>


        <div class="hsoub-list hsoub-list-right" *ngIf="isNotifyShow"  style="display: block;">
          <ul class="hsoub-list-group" data-empty="لا جديد حتى اللحظة!">
            <li class="hsoub-list-item "  *ngFor="let notification of signalRService.Notifications">
              <img class="hsoub-list-item-img" alt="Azoooz11111 Aziz"
                src="https://avatars.hsoubcdn.com/6048019056eea385a42c2b8c697273f4?s=128">
              <div class="hsoub-list-item-content">
                {{ notification.message}}
                <div class="hsoub-list-item-date">
                  <time datetime="2021-06-07T23:15:20+00:00" title="2021-06-07T23:15:20+00:00"> <i
                      class="fa fa-clock-o"></i> {{notification.date | customDate}} </time>
                </div>
              </div>
            </li>
          </ul>
          <a class="hsoub-list-action-link" routerLink="/notifications" >
            <i class="fa fa-fw fa-bell"></i> جميع
            الإشعارات</a>
        </div>
      </li>
      <li class="hsoub-menu-item hsoub--visible-h hsoub-desktop hsoub-tablet hsoub-mobile" *ngIf="isUserLoggedIn()">
        <a class="hsoub-menu-item-link     hsoub-menu-item-link--is-img"
         [title]="userName" >
          <img class="hsoub-menu-item-link-img"
            src="../../../assets/images/user-avatar.png" alt="">
        </a>
        <ul class="hsoub-dropdown hsoub-dropdown-right">
          <li class="hsoub-dropdown-item">
            <a class="hsoub-dropdown-item-link" >
              <i class="fa fa-fw fa-user"></i>
            </a>
          </li>
          <li class="hsoub-dropdown-item">
            <a class="hsoub-dropdown-item-link" href="/collections">
              <i class="fa fa-fw fa-bookmark"></i>
              مجموعاتي
            </a>
          </li>
          <li class="hsoub-dropdown-item">
            <a class="hsoub-dropdown-item-link" href="/credit">
              <i class="fa fa-fw fa-usd"></i>
              الرصيد
            </a>
          </li>
          <li class="hsoub-dropdown-item">
            <a class="hsoub-dropdown-item-link" href="/account">
              <i class="fa fa-fw fa-sliders"></i>
              الإعدادات
            </a>
          </li>
          <li class="hsoub-dropdown-item hsoub-dropdown-divider">
            <a
              class="hsoub-dropdown-item-link"
              href="https://accounts.hsoub.com/edit"
              target="_blank"
            >
              <i class="fa fa-fw fa-edit"></i>
              تعديل الحساب
            </a>
          </li>
          <li class="hsoub-dropdown-item">
            <a
              class="hsoub-dropdown-item-link"
              href="/r/helpdesk"
              target="_blank"
            >
              <i class="fa fa-fw fa-support"></i>
              مساعدة
            </a>
          </li>
          <li class="hsoub-dropdown-item hsoub-dropdown-divider">
            <a
              class="hsoub-dropdown-item-link"
              href="https://accounts.hsoub.com/logout?source=khamsat&amp;t=5e750cb84b98a8e95499eb82aff4aa3d"
            >
              <i class="fa fa-fw fa-sign-out"></i>
              خروج
            </a>
          </li>
        </ul>
      </li>
      <li class="hsoub-menu-item hsoub--visible-h hsoub-desktop hsoub-tablet hsoub-mobile" *ngIf="!isUserLoggedIn()">
        <a class="hsoub-menu-item-link  hsoub-menu-item-link--is-button hsoub-menu-item-link--is-button-justified  " routerLink="/login">
          <i class="hsoub-menu-item-link-icon fa fa-sign-in"></i>
          <span>دخول</span>
        </a>
      </li>

      <li class="hsoub-menu-item hsoub--visible-h hsoub-desktop hsoub-tablet " *ngIf="!isUserLoggedIn()">
        <a class="hsoub-menu-item-link  hsoub-menu-item-link--is-button   " routerLink="/register">
          <i class="hsoub-menu-item-link-icon fa fa-user-plus"></i>
          <span>حساب جديد</span>
        </a>
      </li>


    </ul>
  </div>
</header>

<aside class="hsoub-sidebar" style="" [ngClass]="{ 'aside-toggle': isAside }">
  <div class="hsoub-sidebar-wrapper">
    <div class="hsoub-sidebar-search">
      <form action="/search" accept-charset="UTF-8" method="get">
        <input name="utf8" type="hidden" value="✓" />
        <input
          class="hsoub-search"
          type="search"
          name="q"
          placeholder="ابحث عن ..."
          value=""
        />
      </form>
    </div>
    <ul class="hsoub-sidebar-menu">
      <li class="hsoub-sidebar-menu-item hsoub--visible-v   hsoub-mobile show-xs-only" >
        <a class="hsoub-sidebar-menu-item-link" href="/cart"><span class="c-badge " style="background-color: #e75737; border-radius:20px;
          bottom: 10px; position: relative;line-height: 1; ">{{itemsNumber}}</span>
          <i class="fa fa-fw fa-shopping-cart"></i>
          سلة المشتريات
        </a>
      </li>
      <li *ngIf="isUserLoggedIn()"
        class="
          hsoub-sidebar-menu-item hsoub--visible-v hsoub-tablet hsoub-mobile
        "
      >
        <a class="hsoub-sidebar-menu-item-link" routerLink="/service/add">
          <i class="fa fa-fw fa-plus"></i>
          أضف خدمة
        </a>
      </li>
      <li class="hsoub-sidebar-menu-item hsoub--visible-v hsoub-desktop" *ngIf="isUserLoggedIn()">
        <a class="hsoub-sidebar-menu-item-link" href="/orders/1">
          <i class="fa fa-fw fa-folder-open"></i>
          المشتريات
        </a>
      </li>
      <li class="hsoub-sidebar-menu-item hsoub--visible-v hsoub-desktop" *ngIf="isUserLoggedIn()">
        <a class="hsoub-sidebar-menu-item-link" href="/orders/0">
          <i class="fa fa-fw fa-truck"></i>
          الطلبات الواردة
        </a>
      </li>
      <li *ngIf="isUserLoggedIn()"
        class="
          hsoub-sidebar-menu-item hsoub--visible-v hsoub-tablet hsoub-mobile
        "
      >
        <a class="hsoub-sidebar-menu-item-link" href="/orders/1">
          <i class="fa fa-fw fa-folder-open"></i>
          المشتريات
        </a>
      </li>
      <li *ngIf="isUserLoggedIn()"
        class="
          hsoub-sidebar-menu-item hsoub--visible-v hsoub-tablet hsoub-mobile
        "
      >
        <a class="hsoub-sidebar-menu-item-link" href="/orders/0">
          <i class="fa fa-fw fa-truck"></i>
          الطلبات الواردة
        </a>
      </li>
      <li
        class="
          hsoub-sidebar-menu-item hsoub--visible-v hsoub-mobile hsoub--active
        "
      >
        <a class="hsoub-sidebar-menu-item-link">
          <i class="fa fa-fw fa-cubes"></i>
          التصنيفات
        </a>
        <ul class="hsoub-sidebar-menu">
          <li class="hsoub-sidebar-menu-item">
            <a class="hsoub-sidebar-menu-item-link" routerLink="/Category/1"> أعمال </a>
          </li>
          <li class="hsoub-sidebar-menu-item">
            <a class="hsoub-sidebar-menu-item-link" routerLink="/Category/2">
              برمجة وتطوير
            </a>
          </li>
          <li class="hsoub-sidebar-menu-item">
            <a class="hsoub-sidebar-menu-item-link" routerLink="/Category/3">
              تسويق الكتروني
            </a>
          </li>
          <li class="hsoub-sidebar-menu-item">
            <a class="hsoub-sidebar-menu-item-link" routerLink="/Category/4">
              تدريب عن بعد
            </a>
          </li>
          <li class="hsoub-sidebar-menu-item">
            <a class="hsoub-sidebar-menu-item-link" routerLink="/Category/5">
              تصميم فيديو
            </a>
          </li>
          <li class="hsoub-sidebar-menu-item">
            <a class="hsoub-sidebar-menu-item-link" routerLink="/Category/6">
              تصميم
            </a>
          </li>
          <li class="hsoub-sidebar-menu-item">
            <a class="hsoub-sidebar-menu-item-link" routerLink="/Category/7"> صوتيات </a>
          </li>
          <li class="hsoub-sidebar-menu-item">
            <a class="hsoub-sidebar-menu-item-link" routerLink="/Category/8">
              كتابة وترجمة
            </a>
          </li>
        </ul>
      </li>
      <li
        class="
          hsoub-sidebar-menu-item
          hsoub--visible-v
          hsoub-desktop
          hsoub-tablet
          hsoub-mobile
          hsoub--active
        "
      >
        <a class="hsoub-sidebar-menu-item-link">
          <i class="fa fa-fw fa-comments"></i>
          مجتمع خمسات
        </a>
        <ul class="hsoub-sidebar-menu">
          <li class="hsoub-sidebar-menu-item">
            <a class="hsoub-sidebar-menu-item-link" routerLink="/ModelImplementd">
              نماذج أعمال قمت بتنفيذها
            </a>
          </li>
          <li class="hsoub-sidebar-menu-item">
            <a class="hsoub-sidebar-menu-item-link" routerLink="/NotFoundService">
              طلبات الخدمات غير الموجودة
            </a>
          </li>
          <li class="hsoub-sidebar-menu-item">
            <a class="hsoub-sidebar-menu-item-link" routerLink="/UserExp">
              تجارب وقصص المستخدمين
            </a>
          </li>
          <li class="hsoub-sidebar-menu-item">
            <a class="hsoub-sidebar-menu-item-link" routerLink="/aboutKhamsat">
              أمور عامة حول خمسات
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</aside>
