<app-header ></app-header>
<div class="hsoub-container">
  <div class="hsoub-content">
    <div class="o-wrapper">
      <div class="content inside">
        <div id="loading" class="hidden">
          <p style="align-items: center">
            <img
              src="https://khamsat.hsoubcdn.com/assets/images/loading-b9f326901e161822ce76a37af0f8d0dfb8d2e913ff9782c13eb5d72bbda199c2.gif"
              alt="يرجى الإنتظار"
            />
          </p>
        </div>

        <div class="o-layout o-layout--flex">
          <div class="o-layout__item u-12@medium u-12@tiny"></div>
          <div class="o-layout__item u-12@tiny u-8@large u-2--offset@large">
            <div
              *ngIf="title?.errors?.required && title?.touched"
              id="message"
              class="c-alert c-alert--error"
            >
              <span>أدخل عنوان الخدمة</span>
            </div>
            <div
              *ngIf="title?.errors?.minlength"
              id="message"
              class="c-alert c-alert--error"
            >
              <span>العنوان الذي أدخلته قصير جداً</span>
            </div>

            <div
              *ngIf="subCategoryId?.errors?.required && subCategoryId?.touched"
              id="message"
              class="c-alert c-alert--error"
            >
              <span>اختر تصنيف الخدمة</span>
            </div>

            <div
              *ngIf="description?.errors?.required && description?.touched"
              id="message"
              class="c-alert c-alert--error"
            >
              <span>أدخل وصف الخدمة</span>
            </div>
            <div
              *ngIf="description?.errors?.minlength"
              id="message"
              class="c-alert c-alert--error"
            >
              <span>وصف الخدمة الذي أدخلته غير كافي</span>
            </div>

            <div
              *ngIf="localImage?.errors?.required && localImage?.touched"
              id="message"
              class="c-alert c-alert--error"
            >
              <span>يرجى إختيار صورة مناسبة تعبر عن الخدمة</span>
            </div>

            <div
              *ngIf="keywords?.errors?.required && keywords?.touched"
              id="message"
              class="c-alert c-alert--error"
            >
              <span>أدخل الكلمات المفتاحية</span>
            </div>

            <div
              *ngIf="
                InstructionsToBuyer?.errors?.required &&
                InstructionsToBuyer?.touched
              "
              id="message"
              class="c-alert c-alert--error"
            >
              <span>أدخل تعليمات للمشتري</span>
            </div>

            <div
              class="
                o-layout__item
                u-12@large u-12@tiny u-margin-bottom
                u-no--padding
                u-margin-top@small
              "
            >
              <h1>
                أضف خدمة جديدة

                <a
                  id="tips_button"
                  data-videoid="RpblZBFRr1k"
                  class="
                    tips_button
                    c-button c-button--primary c-button--ghost
                    tips_button
                  "
                  (click)="showModal()"
                >
                  <i class="fa fa-info-circle" style="margin-left: 3%"></i>
                  <span>نصائح لقبول خدماتك</span>
                </a>
              </h1>
            </div>

            <div class="c-card">
              <div class="c-card__body">
                <form
                  [formGroup]="addServiceForm"
                  enctype="multipart/form-data"
                  (ngSubmit)="addService()"
                >
                  <div class="u-margin-bottom">
                    <label>ماذا ستفعل مقابل 5$ دولار:</label>
                    <input
                      type="text"
                      name="title"
                      class="c-form__control"
                      maxlength="60"
                      value=""
                      formControlName="title"
                      [class.is.ivalid]="title?.invalid"
                    />
                    <p class="c-form__hb">
                      أدخل عنواناً واضحاً باللغة العربية يصف الخدمة التي تريد أن
                      تقدمها. لا تدخل رموزاً أو كلمات مثل "حصرياً"، "لأول مرة"،
                      "لفترة محدود".. الخ.
                    </p>
                  </div>

                  <div class="u-margin-bottom">
                    <label>التصنيف:</label>
                    <div class="o-layout o-layout--flex">
                      <div
                        class="o-layout__item u-6@large u-6@medium u-12@tiny"
                      >
                        <div class="c-form__select">
                          <select
                            name="category"
                            class="main_category smallselect right"
                            (change)="changeCategory($event)"
                          >
                            <option value="" selected="selected">
                              اختر التصنيف
                            </option>
                            <option
                              *ngFor="let category of categoryList"
                              [value]="category.id"
                            >
                              {{ category.arabicName }}
                            </option>
                          </select>
                        </div>
                      </div>

                      <div
                        class="
                          o-layout__item
                          u-6@large u-6@medium u-12@tiny u-margin-top@small
                        "
                      >
                        <div class="c-form__select">
                          <select
                            class="sub_category smallselect smallselect_left"
                            name="subCategoryId"
                            formControlName="subCategoryId"
                          >
                            <option
                              value=""
                              selected="selected"
                              *ngIf="!isCategoryChanged"
                            >
                              اختر التصنيف الفرعي
                            </option>
                            <option
                              *ngFor="
                                let subCategory of selectedSubCategoryList
                              "
                              [value]="subCategory.id"
                            >
                              {{ subCategory.arabicName }}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="u-margin-bottom">
                    <label>وصف الخدمة:</label>
                    <textarea
                      name="description"
                      class="c-form__control"
                      rows="15"
                      clos="60"
                      maxlength="900"
                      formControlName="description"
                    ></textarea>
                    <p class="c-form__hb">
                      أدخل وصف الخدمة بدقة يتضمن جميع المعلومات والشروط . يمنع
                      وضع البريد الالكتروني، رقم الهاتف أو أي معلومات اتصال
                      أخرى.
                    </p>
                  </div>

                  <div class="u-margin-bottom">
                    <label>معرض الخدمة:</label>
                    <div id="service_gallery">
                      <div *ngIf="isShowAddImageBtn" id="gallery_new" class="">
                        <div class="u-margin-bottom">
                          <a
                            class="gitem_add_btn c-button c-button--primary"
                            (click)="showServiceGallery($event)"
                          >
                            <i class="fa fa-picture-o"></i>
                            <span>أضف صورة</span>
                          </a>
                        </div>
                        <p class="u-margin-bottom--small">
                          القياس: (800x470) بكسل · الحجم الأقصى: 5MB. العدد
                          المسموح: 10 ملفات
                        </p>
                        <p class="padding3">
                          اختيار صورة مصممة بشكل جيد ستظهر خدمتك بشكل
                          احترافي وتزيد من مبيعاتك.
                        </p>
                      </div>
                      <div
                        id="gallery_edit"
                        class="hidden"
                        [style.display]="galleryEditDisplay"
                      >
                        <div
                          (click)="editInServiceGallery($event)"
                          id="gallery_edit_btns"
                        >
                          <a style="cursor: pointer" class="gitem_edit_btn">
                            <i class="fa fa-edit"></i> تعديل
                          </a>
                        </div>
                      </div>
                      <div
                        id="gallery_items"
                        *ngIf="isShowGalleryItems"
                        class="flickity-enabled flickity-rtl"
                        tabindex="0"
                      >
                        <div
                          class="flickity-viewport"
                          style="height: 397.125px; touch-action: pan-y"
                        >
                          <div
                            class="flickity-slider"
                            style="right: 0px; transform: translateX(0%)"
                          >
                            <div
                              class="gitem is-selected"
                              id="gf-0"
                              aria-selected="true"
                              style="position: absolute; right: 0%"
                            >
                              <img
                                class="slide-container active"
                                *ngFor="let img of imagesFile; let i = index"
                                [src]="createImgPath(img.name)"
                                width="100%"
                                attr-file="uploads/22-06-2021/1846337-4c3dcac5ada7b.jpg"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div id="service_gallery_dialog" class="hidden"></div>

                    <div id="alert_dialog" class="hidden">
                      <div id="alert_form_wrapper" class="dialog_form">
                        <h2 class="dialog_title"></h2>
                        <div class="dialog_message hidden"></div>
                        <div class="dialog_content"></div>
                        <div class="dialog_buttons"></div>
                      </div>
                    </div>

                    <div id="service_gallery_temaplate" class="hidden">
                      <div class="selected-image dz-preview">
                        <div class="o-media">
                          <div
                            class="o-media__right u-no--margin u-no--padding"
                          >
                            <img data-dz-thumbnail="" />
                          </div>
                          <div class="o-media__body u-padding-right">
                            <h5 class="u-margin-bottom--small">
                              <span
                                class="dz-success-mark u-clr--primary"
                                style="display: none"
                              >
                                <i class="fa fa-check-circle-o"></i>
                              </span>
                              <span
                                data-dz-name=""
                                class="pull-right dz-name"
                              ></span>
                              <span class="pull-left">
                                <a
                                  data-dz-remove=""
                                  class="
                                    c-button c-button--danger
                                    dz-delete-button
                                  "
                                >
                                  <i class="fa fa-times"></i> حذف
                                </a></span
                              >
                            </h5>
                            <div
                              class="u-margin-bottom--small pull-right clear"
                            >
                              <span class="dz-size">
                                حجم الملف:
                                <span data-dz-size=""></span>
                              </span>
                            </div>
                            <div
                              class="dz-error-message clear"
                              data-dz-errormessage=""
                            ></div>
                            <div class="dz-progress">
                              <span
                                class="dz-upload"
                                data-dz-uploadprogress=""
                              ></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="u-margin-bottom">
                    <label>كلمات مفتاحية:</label>
                    <input
                      type="text"
                      name="tags"
                      class="c-form__control"
                      maxlength="100"
                      value=""
                      formControlName="keywords"
                    />
                    <p class="c-form__hb">مثال: تطوير مواقع, ووردبريس, تصميم</p>
                  </div>

                  <div class="u-margin-bottom">
                    <label>مدة التسليم:</label>
                    <div class="c-form__select">
                      <select name="in_days" formControlName="duration">
                        <option value="1" *ngIf="true">يوم واحد</option>
                        <option value="2">يومين</option>
                        <option value="3">ثلاثة أيام</option>
                        <option value="4">أربعة أيام</option>
                        <option value="5">خمسة أيام</option>
                        <option value="6">ستة أيام</option>
                        <option value="7">أسبوع</option>
                        <option value="14">أسبوعين</option>
                        <option value="21">ثلاثة أسابيع</option>
                        <option value="30">شهر</option>
                      </select>
                    </div>
                    <p class="c-form__hb">
                      حدد مدة تسليم مناسبة لك. يستطيع المشتري إلغاء الخدمة
                      مباشرة في حال التأخر بتسليم الخدمة في الموعد المحدد.
                    </p>
                  </div>

                  <div class="u-margin-bottom">
                    <label>تعليمات للمشتري:</label>
                    <textarea
                      name="InstructionsToBuyer"
                      class="c-form__control"
                      rows="5"
                      clos="60"
                      maxlength="600"
                      formControlName="InstructionsToBuyer"
                    ></textarea>
                    <p class="c-form__hb">
                      المعلومات التي تحتاجها من المشتري لتنفيذ الخدمة. تظهر هذه
                      المعلومات بعد شراء الخدمة فقط.
                    </p>
                  </div>

                  <div
                    formArrayName="addServiceDevelopment"
                    *ngFor="
                      let sd of addServiceDevelopment.controls;
                      let i = index
                    "
                    class="u-margin-bottom"
                    id="upgrade_service_wrapper"
                    [style.display]="serviceDevStyle"
                  >
                    <div id="upgrade_service" class="">
                      <label>أضف تطويراً لهذه الخدمة:</label>
                      <div
                        [formGroupName]="i"
                        id="upgrade_service_inputs_wrapper"
                      >
                        <div
                          id="upgrade_service_inputs_0"
                          class="upgrade_service_inputs"
                        >
                          <div class="remove_upgrade">
                            <a
                              (click)="removeServiceDevelopment(i)"
                              class="remove_upgrade_btn no_underline"
                              ><i class="fa fa-times"></i
                            ></a>
                          </div>

                          <div class="u-margin-bottom">
                            <input
                              type="text"
                              name="service_upgrade_title_0"
                              class="c-form__control service_upgrade_title"
                              maxlength="100"
                              value=""
                              formControlName="description"
                            />
                            <p class="c-form__hb">
                              <span
                                >تطويرات الخدمة المقدمة اختيارية فقط ولا يمكن أن
                                تجبر المشتري على طلبها.
                              </span>
                              <a
                                href="https://khamsat.com/service-upgrades"
                                target="_blank"
                                class="u-clr--primary"
                                >اعرف طريقة استخدامها بشكل صحيح</a
                              >
                            </p>
                          </div>

                          <div class="u-margin-bottom">
                            <div class="c-form__select">
                              <select
                                name="service_upgrade_price_0"
                                class="service_upgrade_price"
                                formControlName="price"
                              >
                                <option value="5" *ngIf="true">
                                  مقابل 5 دولار اضافة لسعر الخدمة
                                </option>
                                <option value="10">
                                  مقابل 10 دولار اضافة لسعر الخدمة
                                </option>
                                <option value="15">
                                  مقابل 15 دولار اضافة لسعر الخدمة
                                </option>
                                <option value="20">
                                  مقابل 20 دولار اضافة لسعر الخدمة
                                </option>
                                <option value="25">
                                  مقابل 25 دولار اضافة لسعر الخدمة
                                </option>
                                <option value="30">
                                  مقابل 30 دولار اضافة لسعر الخدمة
                                </option>
                                <option value="35">
                                  مقابل 35 دولار اضافة لسعر الخدمة
                                </option>
                                <option value="40">
                                  مقابل 40 دولار اضافة لسعر الخدمة
                                </option>
                                <option value="45">
                                  مقابل 45 دولار اضافة لسعر الخدمة
                                </option>
                                <option value="50">
                                  مقابل 50 دولار اضافة لسعر الخدمة
                                </option>
                                <option value="75">
                                  مقابل 75 دولار اضافة لسعر الخدمة
                                </option>
                                <option value="100">
                                  مقابل 100 دولار اضافة لسعر الخدمة
                                </option>
                              </select>
                            </div>
                          </div>

                          <div class="o-layout o-layout--flex">
                            <div
                              class="
                                o-layout__item
                                u-margin-bottom u-6@large u-12@tiny
                              "
                            >
                              <div
                                class="c-form__select"
                                (click)="changeDisplayDurationOfServiceDev(i)"
                              >
                                <select
                                  name="service_upgrade_days_change_0"
                                  class="service_upgrade_days_change"
                                  formControlName="isIncreaseDuration"
                                >
                                  <option value="true">
                                    سيزيد من مدة تنفيذ الخدمة
                                  </option>
                                  <option value="false">
                                    لن يغيّر من مدة تنفيذ هذه الخدمة
                                  </option>
                                </select>
                              </div>
                            </div>

                            <div
                              class="
                                o-layout__item
                                u-margin-bottom u-6@large u-12@tiny
                              "
                              *ngIf="isShowDurationOfServiceDev"
                            >
                              <div class="c-form__select">
                                <select
                                  name="service_upgrade_days_0"
                                  class="service_upgrade_days"
                                  formControlName="duration"
                                >
                                  <option value="1" *ngIf="true">
                                    يوم واحد
                                  </option>
                                  <option value="2">يومين</option>
                                  <option value="3">ثلاثة أيام</option>
                                  <option value="4">أربعة أيام</option>
                                  <option value="5">خمسة أيام</option>
                                  <option value="6">ستة أيام</option>
                                  <option value="7">أسبوع</option>
                                  <option value="14">أسبوعين</option>
                                  <option value="21">ثلاثة أسابيع</option>
                                  <option value="30">شهر</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div id="upgrade_service_btn_wrapper" class="u-margin-bottom">
                    <div class="u-text--left">
                      <a
                        id="upgrade_service_btn"
                        class="c-button c-button--primary c-button--ghost"
                        (click)="addNewServiceDevelopment()"
                      >
                        <i class="fa fa-plus" style="margin-left: 3%"></i>
                        <span>أضف تطويراً لهذه الخدمة</span>
                      </a>
                    </div>
                  </div>
                  <div>
                    <input
                      id="user_token"
                      type="hidden"
                      name="token"
                      value="5c6c7e911426ec1404acefbf900e458173eca3d3"
                    />
                    <button
                      *ngIf="!isShowServiceStatus"
                      type="submit"
                      class="c-button c-button--primary"
                    >
                      أضف الخدمة
                    </button>
                  </div>

                  <!-- <div *ngIf="isShowServiceStatus">
                    <div class="u-margin-bottom">
                      <label>الحالة:</label>
                      <div class="c-form__select">
                        <select name="running">
                          <option value="true" selected="selected">تعمل</option>
                          <option value="false">
                            إيقاف مؤقت (لا أريد استقبال مزيد من الطلبات)
                          </option>
                        </select>
                      </div>
                      <p class="c-form__hb">
                        حدد إذا كنت تريد تفعيل الخدمة أو إيقافها مؤقتاً
                      </p>
                    </div> -->

                    <!-- <div class="o-layout o-layout--flex">
                      <div
                        class="o-layout__item u-3@large u-6@medium u-12@tiny"
                      >
                        <input
                          id="user_token"
                          type="hidden"
                          name="token"
                          value="5c6c7e911426ec1404acefbf900e458173eca3d3"
                        />
                        <button
                          type="submit"
                          class="c-button c-button--primary c-button--block"
                        >
                          تحديث
                        </button>
                      </div>
                      <div
                        class="
                          o-layout__item
                          u-3@large
                          u-6--offset@large
                          u-6@medium u-12@tiny u-margin-top@small
                        "
                      >
                        <input
                          id="service_id"
                          name="service_id"
                          type="hidden"
                          value="1784628"
                        />
                        <a
                          id="delete_service"
                          href="#"
                          class="
                            c-button
                            c-button--danger
                            c-button--block
                            c-button--ghost
                          "
                          >إحذف هذه الخدمة</a
                        >
                      </div>
                    </div>
                  </div> -->

              
                </form>
              </div>
            </div>

            <script></script>
          </div>
        </div>
        <!--  END o-layout -->
      </div>
      <!--  END content -->
    </div>
    <!--  END o-wrapper -->
  </div>
</div>
<div
*ngIf="isShowModal"
class="
  alertify
  ajs-no-padding ajs-no-overflow ajs-frameless ajs-closable
  tips_and_advice
"
>
<div class="ajs-dimmer"></div>
<div
  class="ajs-modal"
  tabindex="0"
  style="
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
  "
>
  <div class="ajs-dialog" tabindex="0">
    <button class="ajs-reset"></button>
    <div class="ajs-commands">
      <button class="ajs-pin"></button
      ><button class="ajs-maximize"></button
      ><button
        *ngIf="isShowModal"
        (click)="showModal()"
        class="ajs-close"
      ></button>
    </div>
    <div class="ajs-header">5 نصائح لقبول خدماتك</div>
    <div class="ajs-body">
      <div class="ajs-content">
        <iframe
          frameborder="no"
          width="100%"
          height="100%"
          src="https://www.youtube.com/embed/RpblZBFRr1k?enablejsapi=1&amp;rel=0&amp;showinfo=0"
        ></iframe>
      </div>
    </div>
    <div class="ajs-footer">
      <div class="ajs-auxiliary ajs-buttons"></div>
      <div class="ajs-primary ajs-buttons">
        <button class="ajs-button">undefined</button>
      </div>
    </div>
    <div class="ajs-handle"></div>
    <button class="ajs-reset"></button>
  </div>
</div>
</div>

<div
id="service_gallery_dialog"
class="dialog"
style="
  position: fixed;
  top: 10%;
  left: 0px;
  min-width: 1472px;
  max-width: 1474px;
"
[style.display]="gelleryDialogDisplay"
>
<div class="dialog_wrapper dialog_wrapper--large">
  <div
    id="service_gallery_form_wrapper"
    class="
      dialog_form
      o-layout__item
      u-12@tiny u-8@large
      u-2--offset@large
    "
  >
    <div
      class="c-card"
      (clickOutside)="hideGallery($event)"
    >
      <div class="c-card__head">
        <h2>أضف صورة</h2>
      </div>
      <div class="c-card__body">
        <div
          class="
            c-alert c-alert--danger
            dialog_message
            hidden
          "
        ></div>
        <div class="gallery_uploader">
          <div
            class="
              u-margin-bottom@small
              gallery_uploader_option
            "
            (click)="showLocalImg()"
          >
            <label for="add_image_from_device">
              <input
                type="radio"
                name="add_gitem"
                id="add_image_from_device"
                value="image"
                checked="checked"
                (click)="showLocalImg()"
              />
              <span>صورة من جهازي</span>
            </label>
          </div>
        </div>

        <input
          type="file"
          multiple="multiple"
          class="dz-hidden-input"
          accept=".jpeg, .jpg, .png, .gif"
          style="
            visibility: hidden;
            position: absolute;
            top: 0px;
            height: 0px;
            width: 0px;
          "
          (change)="onFileChange($event)"
          #ImgUpload
          formControlName="localImage"
          [class.is.invalid]="localImage?.invalid"
        />

        <div
          id="add_gitem_image"
          class="row add_gitem_input"
        >
          <div id="gitem_image_upload" class="tcenter">
            <div class="dz-default dz-message u-margin-top">
              <div class="selected-images u-margin-bottom">
                <div
                  *ngIf="isShowImgItem"
                  class="
                    selected-image
                    dz-preview dz-image-preview
                  "
                >
                  <div
                    *ngFor="
                      let img of imagesFile;
                      let i = index
                    "
                    class="o-media"
                  >
                    <div
                      class="
                        o-media__right
                        u-no--margin u-no--padding
                      "
                    >
                      <img
                        class="imgPath"
                        data-dz-thumbnail=""
                        [src]="createImgPath(img.name)"
                      />
                    </div>
                    <div
                      class="o-media__body u-padding-right"
                    >
                      <h5 class="u-margin-bottom--small">
                        <span
                          class="
                            dz-success-mark
                            u-clr--primary
                          "
                          style="display: none"
                        >
                          <i
                            class="fa fa-check-circle-o"
                          ></i>
                        </span>
                        <span
                          data-dz-name=""
                          class="pull-right dz-name"
                          >{{ img.name }}</span
                        >
                      </h5>
                      <div
                        class="
                          u-margin-bottom--small
                          pull-right
                          clear
                        "
                      >
                        <span class="dz-size">
                          حجم الملف:
                          <span data-dz-size=""
                            ><span>{{
                              img.size
                            }}</span></span
                          >
                        </span>
                      </div>
                      <div
                        class="dz-error-message clear"
                        data-dz-errormessage=""
                      ></div>
                      <div class="dz-progress">
                        <span
                          class="dz-upload"
                          data-dz-uploadprogress=""
                        ></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <a
                class="
                  c-button c-button--primary
                  mainbtn
                  service_image_u_btn
                  dz-max-files-reached dz-clickable
                "
                *ngIf="isShowChooseImg"
                (click)="ImgUpload.click()"
              >
                <i class="fa fa-folder"></i> اختيار الصور
              </a>
              <a
                class="
                  c-button c-button--primary
                  mainbtn
                  upload_seleted_images_btn
                "
                style="margin-right: 2%"
                [style.display]="uploadImgBtnDisplay"
                (click)="showGalleryItems()"
              >
                <i class="fa fa-upload"></i> رفع الصور
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<app-footer></app-footer>
