<div class="hsoub-container" style="padding: 3%; margin-top: 35px;">
  <div class="hsoub-content">


    <div class="page_header">
      <div class="o-wrapper">
        <div class="o-layout o-layout--flex">
          <div class="o-layout__item u-9@large u-8@medium u-12@tiny">
            <div class="o-media">
              <div class="o-media__right new_message_avatar">
                <a >
                  <img class="u-circle img-thumbnail img--medium"
                    src="../../../../assets/Images/user-avatar.png">
                </a>
              </div>

              <div class="o-media__body" *ngIf="!!service">
                <h1>رسالة جديدة إلى {{service.userFullName}}</h1>
                <ul class="page-meta u-12@large ">
                  <li>
                    <i class="fa fa-cube"></i>
                    الخدمة:
                    <a routerLink="/service/Details/{{service.id}}">
                      {{service.title}}
                    </a>
                  </li>


                </ul>
              </div>
            </div>
          </div>

          <div class="o-layout__item u-3@large u-4@medium u-hidden@small u-hidden@tiny">
            <div class="page-header-buttons">
            </div>
          </div>

        </div>
      </div>
    </div>



    <div class="o-wrapper ">

      <div class="content inside">
        <div id="loading" class="hidden">
          <p align="center"><img
              src="https://khamsat.hsoubcdn.com/assets/images/loading-b9f326901e161822ce76a37af0f8d0dfb8d2e913ff9782c13eb5d72bbda199c2.gif"
              alt="يرجى الإنتظار">
          </p>
        </div>


        <div class="o-layout o-layout--flex">
          <div class="o-layout__item u-12@medium u-12@tiny">
          </div>

          <div class="o-layout__item u-12@tiny u-8@large u-2--offset@large">

            <div class="c-card new_message_page">
              <div class="c-card__body">
                <form id="new_message_form" action="/message/new/1255079" method="post">
                  <div class="u-margin-bottom">
                    <label>محتوى الرسالة:</label>
                    <textarea name="content" class="c-form__control" rows="10" clos="60" maxlength="1200"
                      [(ngModel)]="newMsg.content"></textarea>
                    <p class="c-form__hb">اسأل مقدم الخدمة ما تريد معرفته عن هذه الخدمة. يمنع وضع وسائل تواصل خارجية.
                    </p>
                  </div>
                  
                  <div class="u-margin-bottom u-checkbox">
                    <label for="confirm">
                      <input name="confirm" id="confirm" type="checkbox" value="0">
                      <span>هذه الرسالة لا تحتوي على وسائل تواصل خارجية وأرسلها لأني أرغب بشراء الخدمة المعروضة.</span>
                    </label>
                  </div>

                  <div class="u-margin-bottom u-checkbox">
                    <label for="confirm2">
                      <input name="confirm2" id="confirm2" type="checkbox" value="0">
                      <span>لقد راجعت </span>
                      <a href="/terms" target="_blank" class="u-clr--primary">شروط موقع خمسات</a>
                      <span>وهذه الرسالة لا تخالفها بشيء.</span>
                    </label>
                  </div>

                  <div>
                    <input id="user_token" type="hidden" name="token" value="2fc3268f89a77b1c1f6bfcdcb9e8c9abfb29be79">
                    <button type="submit" class="c-button c-button--primary" (click)="startchat()">أرسل الرسالة</button>
                  </div>
                </form>
              </div>
            </div>

          </div>

        </div><!--  END o-layout -->
      </div>
      <!--  END content -->
    </div>
    <!--  END o-wrapper -->

  </div>
</div>