<app-header></app-header>

<div class="hsoub-container" style="padding: 3%; margin-top: 35px;">
    <div class="hsoub-content">



        <div class="o-wrapper ">

            <div class="content inside">
                <div id="loading" class="hidden">
                    <p align="center"><img
                            src="https://khamsat.hsoubcdn.com/assets/images/loading-b9f326901e161822ce76a37af0f8d0dfb8d2e913ff9782c13eb5d72bbda199c2.gif"
                            alt="يرجى الإنتظار">
                    </p>
                </div>


                <div class="o-layout o-layout--flex">
                    <div class="o-layout__item u-12@medium u-12@tiny">
                    </div>

                    <div class="o-layout__item u-12@tiny">

                        <div class="o-layout__item o-layout o-layout--flex u-no--padding">
                            <div
                                class="o-layout__item u-12@large u-12@tiny u-margin-bottom u-no--padding u-margin-top@small">
                                <h1 class="u-block-inline" *ngIf="type == 0">
                                    الطلبات الواردة
                                </h1>
                                <h1 class="u-block-inline" *ngIf="type != 0">
                                    المشتريات
                                </h1>
                                <div class="u-pull--left filter-sort">
                                    <div class="filter-sort u-pull--left desc_asc_sort">
                                        <a href="#" class="c-button c-button--secondary dropdown-button"
                                            data-jq-dropdown="#jq-filter-sort">
                                            <span class="text">الأحدث</span>
                                            <i class="fa fa-caret-down"></i>
                                        </a>
                                        <div id="jq-filter-sort" class="jq-dropdown jq-dropdown-tip">
                                            <ul class="jq-dropdown-menu">
                                                <li><a href="#" data-sort="desc" class="filter active">الأحدث</a></li>
                                                <li><a href="#" data-sort="asc" class="filter ">الأقدم</a></li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                                <a href="#"
                                    class="c-button c-button--primary c-button--ghost js-filter-sidebar-button u-pull--left u-hidden@medium u-hidden@large">
                                    <i class="fa fa-sliders"></i>
                                </a>
                            </div>
                        </div>



                        <div class="o-layout o-layout--flex u-margin-bottom@medium u-margin-bottom@small">
                            <div class="o-layout__item u-3@large u-3@medium u-no--padding">
                                <div class="js-filter-sidebar-group">
                                    <div class="filter-back-button u-hidden@medium u-hidden@large">
                                        <a href="#" class="js-filter-sidebar-button">
                                            <i class="fa fa-chevron-right"></i>
                                        </a>
                                    </div>
                                    <div class="c-card">
                                        <div class="c-card__head">
                                            <h4 class="main_section_head"><span>حالة الطلب</span></h4>
                                        </div>
                                        <div class="c-card__body">
                                            <ul class="c-list c-list--vert c-list--filter filters-list  ">
                                                <li class="c-list__item u-checkbox">
                                                    <label for="waitingstatus_filter">
                                                        <input type="checkbox" value="waiting" name="status"
                                                            id="waitingstatus_filter" class="filter">
                                                        <span> بانتظار التعليمات </span>
                                                        <span class="c-badge u-pull--left">0</span>
                                                    </label>
                                                </li>
                                                <li class="c-list__item u-checkbox">
                                                    <label for="executingstatus_filter">
                                                        <input type="checkbox" value="executing" name="status"
                                                            id="executingstatus_filter" class="filter">
                                                        <span> جاري تنفيذها </span>
                                                        <span class="c-badge u-pull--left">0</span>
                                                    </label>
                                                </li>
                                                <li class="c-list__item u-checkbox">
                                                    <label for="deliveringstatus_filter">
                                                        <input type="checkbox" value="delivering" name="status"
                                                            id="deliveringstatus_filter" class="filter">
                                                        <span> بانتظار الاستلام </span>
                                                        <span class="c-badge u-pull--left">0</span>
                                                    </label>
                                                </li>
                                                <li class="c-list__item u-checkbox">
                                                    <label for="finishedstatus_filter">
                                                        <input type="checkbox" value="finished" name="status"
                                                            id="finishedstatus_filter" class="filter">
                                                        <span> تم تسليمها </span>
                                                        <span class="c-badge u-pull--left">1</span>
                                                    </label>
                                                </li>
                                                <li class="c-list__item u-checkbox">
                                                    <label for="declinedstatus_filter">
                                                        <input type="checkbox" value="declined" name="status"
                                                            id="declinedstatus_filter" class="filter">
                                                        <span> ملغية </span>
                                                        <span class="c-badge u-pull--left">1</span>
                                                    </label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="o-layout__item u-9@large u-12@medium u-12@tiny js-page">
                                <div id="loading" class="hidden filter-loading">
                                    <p align="center"><img
                                            src="https://khamsat.hsoubcdn.com/assets/images/loading-b9f326901e161822ce76a37af0f8d0dfb8d2e913ff9782c13eb5d72bbda199c2.gif"
                                            alt="يرجى الإنتظار">
                                    </p>
                                </div>
                                <div class="c-card" id="orders-card">
                                    <div class="c-card__body u-no--padding">
                                        <table id="orders_table">
                                            <colgroup>
                                                <col class="u-avatar-col">
                                                <col width="auto">
                                            </colgroup>
                                            <tbody>
                                                <tr id="order-1876029" class="order " *ngFor="let orderd of DisplayList">
                                                    <td class="avatar-td u-text--center"><a
                                                            ><img
                                                                class="u-circle img-thumbnail img--medium"
                                                                src="../../../../assets/Images/user-avatar.png"></a>
                                                    </td>

                                                    <td class="details-td">
                                                        <h3 class="details-head"><a class="ajaxbtn"
                                                                href="/order/1876029">{{orderd.serviceTitle}}</a></h3>
                                                        <ul class="details-list">
                                                            <li>
                                                                <a class="user" ><i
                                                                        class="fa fa-fw fa-user"></i> Azoooz11111
                                                                    Aziz</a>
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-usd"></i> <span dir="ltr">{{orderd.price}}</span>
                                                            </li>
                                                            <li class="">
                                                                <i class="fa fa-fw fa-info-circle"></i> <span>{{orderd.status}}</span>
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-fw fa-clock-o"></i> <span
                                                                    title="14/06/2021 00:50:53 GMT">{{orderd.date | customDate}}</span>
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                              

                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="c-card__footer" style="display: none;">
                                        <div id="more_content" class="u-text--center">
                                            <button id="load_more_content" type="button"
                                                class="c-button c-button--primary c-button--ghost">عرض المزيد</button>
                                        </div>
                                    </div>
                                    <input id="page_url" type="hidden" value="/orders">
                                </div>
                            </div>
                        </div>

                    </div>

                </div><!--  END o-layout -->
            </div>
            <!--  END content -->
        </div>
        <!--  END o-wrapper -->


    </div>
</div>
<app-footer></app-footer>