<app-header></app-header>
<div class="hsoub-container">
    <div class="hsoub-content">
      <div class="o-wrapper ">
        <div class="content inside">
          <div class="o-layout o-layout--flex">
            <div class="o-layout__item u-12@medium u-12@tiny">
            </div>

            <div class="o-layout__item u-12@tiny u-8@large u-2--offset@large">

              <div class="o-layout__item u-12@large u-12@tiny u-margin-bottom u-no--padding u-margin-top@small">
                <h1>إضافة موضوع جديد</h1>
              </div>
              <div class="c-card">
                <div class="c-card__body">
                  <form id="postform" [formGroup]="addCommunityForm">
                    <div class="u-margin-bottom">
                      <label>عنوان الموضوع:</label>
                      <input type="text" name="title" class="c-form__control" maxlength="50" value=""
                        formControlName="title" [class.is-invalid]="title.invalid && title.touched">
                      <div *ngIf="title.errors && title.touched">
                        <small style="color: red;" *ngIf="title.errors.required">*Title is required</small>
                      </div>
                    </div>

                    <div class="u-margin-bottom">
                      <label>التصنيف:</label>
                      <div class="c-form__select">
                        <select id="forum_name_select" name="forum" formControlName="subject" type="text"
                          class="form-control">

                          <option  value="0"> نماذج اعمال قمت بتنفيذها </option>
                          <option  value="1">   طلبات الخدمات غير الموجودة </option>
                          <option  value="2">    تجارب وقصص المستخدمين </option>
                          <option  value="3">   امور عامة حول خمسات  </option>

                        </select>
                      </div>
                      <input type="hidden" id="showcase_description"
                        value="بامكانك عرض نماذج عن الأعمال التي قمت بتنفيذها هنا. يمنع اعادة عرض الخدمات المنشورة بالموقع!">
                      <input type="hidden" id="requests_description"
                        value="هل تبحث عن خدمة غير موجودة في الموقع أو تحتاج لتفاصيل ومعلومات خاصة؟ هذا المكان المناسب.">
                      <input type="hidden" id="stories_description"
                        value="قسم مخصص لنشر تجاربك وأي نصائح لديك حول خمسات وكيف تحقق أكبر فائدة.">
                      <input type="hidden" id="general_description"
                        value="لنشر أي أمور أخرى متعلقة بموقع خمسات كالاقتراحات أو أي مشاكل واجهتك.">
                      <!-- <p id="forum_name_description" class="c-form__hb">لنشر أي أمور أخرى متعلقة بموقع خمسات كالاقتراحات
                        أو أي مشاكل واجهتك.</p> -->
                    </div>

                    <div class="u-margin-bottom">
                      <label>محتوى الموضوع:</label>
                      <textarea name="content" class="c-form__control" rows="15" clos="60" maxlength="10000"
                        formControlName="content" [class.is-invalid]="content.invalid && content.touched"></textarea>
                      <div *ngIf="content.errors && content.touched">
                        <small style="color: red;" *ngIf="content.errors.required">*Content is required</small>
                      </div>
                      <p class="c-form__hb">
                        <span>استخدم</span>&nbsp;
                        <a href="https://suar.me" target="_blank" class="u-clr--primary">موقع صور</a>
                        <span>عند حاجتك لرفع أو اضافة صورة لموضوعك.</span>
                      </p>
                    </div>

                    <div class="u-margin-bottom u-checkbox">
                      <label for="confirm">
                        <input name="confirm" id="confirm" type="checkbox" value="0">
                        <span>راجعت محتوى الموضوع بدقة وهو لا يخالف</span>&nbsp;
                        <a href="" target="_blank" class="u-clr--primary">شروط موقع خمسات</a>
                      </label>
                    </div>
                    <div class="u-margin-bottom u-checkbox">
                      <label for="confirm2">
                        <input name="confirm2" id="confirm2" type="checkbox" value="0">
                        <span id="forum_post_confirmation">هذا الموضوع ذو فائدة ومتعلق بموقع خمسات</span>
                      </label>
                    </div>

                    <div class="margin-bottom">

                      <input id="user_token" type="hidden" name="token" value="b91fc0c6972e0f4597fb37a1fa9040a5eabbb530">

                      <button type="submit" (click)="create()" class="c-button c-button--primary">نشر</button>
                    </div>

                  </form>
                </div>
              </div>

            </div>

          </div><!--  END o-layout -->
        </div>
        <!--  END content -->
      </div>
      <!--  END o-wrapper -->

    </div>
  </div>
  <app-footer></app-footer>
