<footer class="c-footer">
    <div class="o-wrapper u-padding-top--large u-padding-bottom--large">
      <div class="o-layout u-padding@small">
        <div class="o-layout__item u-3@large u-6@medium u-12@small u-12@tiny u-margin-bottom@small">
          <h4><a href="/">موقع خمسات</a></h4>
          <ul class="c-list c-list--primary">
            <li><a href="/about">حول خمسات</a></li>
            <li><a href="/how">كيف يعمل الموقع</a></li>
            <li><a href="/faq">الأسئلة الشائعة</a></li>
            <li><a href="/guarantee">إعرف كيف نضمن حقوقك</a></li>
          </ul>
          <div class="u-margin-top--large"></div>
          <h4>احصل على مساعدة</h4>
          <ul class="c-list c-list--primary">
            <li><a href="/r/helpdesk">مركز المساعدة</a></li>
            <li><a href="/r/helpdesk?goto=conversations">تحدث معنا</a></li>
          </ul>
        </div>

        <div class="o-layout__item u-6@large u-6@medium u-12@small u-12@tiny u-margin-bottom@small">
          <h4><a href="http://blog.khamsat.com" target="_blank">مدونة خمسات</a></h4>
          <ul id="post_list" class="c-list c-list--primary">
            <li><a href="https://blog.khamsat.com/growing-youtube-views/" title="8 طرق ذهبية تساعدك على زيادة مشاهدات اليوتيوب" target="_blank">8 طرق ذهبية تساعدك على زيادة مشاهدات اليوتيوب</a></li><li><a href="https://blog.khamsat.com/customer-trust/" title="8 نصائح في فن كسب ثقة العملاء ونيل رضاهم" target="_blank">8 نصائح في فن كسب ثقة العملاء ونيل رضاهم</a></li><li><a href="https://blog.khamsat.com/sales-funnel/" title="قمع المبيعات: مساعدك الوفي لحملات تسويقية ناجحة" target="_blank">قمع المبيعات: مساعدك الوفي لحملات تسويقية ناجحة</a></li><li><a href="https://blog.khamsat.com/wordpress-developer/" title="كيف تصبح مطور ووردبريس محترف؟" target="_blank">كيف تصبح مطور ووردبريس محترف؟</a></li>
          </ul>
          <div class="u-margin-top--large"></div>
          <h4>وسائل الدفع</h4>
          <div class="u-margin-top">
            <img src="https://khamsat.hsoubcdn.com/assets/images/payments/payments-1bd088dca6708fc60341975310a3615b029bd99d7e80e52fd31cbb2a3d995afd.png" width="220">
          </div>
        </div>

        <div class="o-layout__item u-3@large u-6@medium u-12@small u-12@tiny">
          <h4><a href="/community">مجتمع خمسات</a></h4>
          <ul class="c-list c-list--primary">
            <li><a href="/community/showcase">نماذج أعمال قمت بتنفيذها</a></li>
            <li><a href="/community/requests">طلبات الخدمات غير الموجودة</a></li>
            <li><a href="/community/stories">تجارب وقصص المستخدمين</a></li>
            <li><a href="/community/general">أمور عامة حول خمسات</a></li>
          </ul>
          <div class="u-margin-top--large"></div>
          <h4>تابع خمسات</h4>
          <ul class="c-list c-list--social u-margin-top--small">
            <li class="c-list__item facebook">
              <a href="http://www.facebook.com/KhamsatDotCom" class="c-list__link">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="c-list__item twitter">
              <a href="http://twitter.com/KhamsatDotCom" class="c-list__link">
                <i class="fa fa-twitter"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

  <div class="c-footer__bottom">
      <div class="o-wrapper o-wrapper--noptb">
        <div class="o-layout o-layout--flex">
          <div class="o-layout__item u-6@medium u-12@small u-12@tiny">
            <ul class="c-list c-list--links">
              <li class="c-list__item">
                <a href="/terms">شروط الاستخدام</a>
              </li>
              <li class="c-list__item">
                <a href="/privacy">بيان الخصوصية</a>
              </li>
              <li class="c-list__item">
                <a href="/levels">المستويات</a>
              </li>
              <li class="c-list__item">
                <a href="/affiliates">التسويق بالعمولة</a>
              </li>
            </ul>
          </div>
          <div class="o-layout__item u-6@medium u-12@small u-12@tiny">
            <p class="c-footer__copyright">
              © 2021 <a href="http://www.hsoub.com" target="_blank">Hsoub</a>. All rights reserved.
            </p>
          </div>
        </div>
      </div>
    <div style="display:none; visibility:hidden"><a href="/fe51e49d447dc65a1fce3b69348b0250f70" style="display:none;visibility:hidden" rel="nofollow"></a></div>
  </div>
</footer>
<app-hsoub-footer></app-hsoub-footer>