<html class="hsoub-no-touch wf-roboto-n3-active wf-roboto-n4-active wf-roboto-n5-active wf-active">

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">

</head>

<body>
  <header class="hsoub-header">
    <div class="hsoub-box">
      <a class="hsoub-bars hsoub--visible-h hsoub-desktop hsoub-tablet hsoub-mobile"></a>


      <div class="hsoub-container">
        <div class="hsoub-content" style="background:#F1F1F1">


          <div class="page_header">
            <div class="o-wrapper">
              <div class="o-layout o-layout--flex">
                <div class="o-layout__item u-9@large u-8@medium u-12@tiny">
                  <div class="o-media">
                    <div class="o-media__body">
                      <h1 style="float: right;">
                        <a href="">خطوة مهمة جدّاً لكسر حاجز بيع الخدمة الأولى؟</a>
                      </h1>
                      <div style="clear: both;"></div>
                      <ul class="page-meta u-12@large " style="float: right;color: gray;">
                        <li>
                          <a class="user" href=""><i class="fa fa-fw fa-user"></i> نبراس الحديدي</a>
                        </li>
                        <li>
                          <a href="">
                            <i class="fa fa-bars fa-fw"></i>
                            <span> أمور عامة حول خمسات</span>
                          </a>
                        </li>
                        <li>
                          <i class="fa fa-clock-o fa-fw"></i>
                          <span dir="ltr" title="03/06/2021 19:56:14 GMT">منذ ساعة 9 دقائق</span>
                        </li>

                      </ul>
                    </div>
                  </div>
                </div>

                <div class="o-layout__item u-3@large u-4@medium u-hidden@small u-hidden@tiny">

                  <div class="page-navbar--tablet">
                    <a class="c-button c-button--primary" href="#add_comment">
                      <i class="fa fa-comment"></i>&nbsp;
                      <span>أضف تعليق</span>
                    </a>
                    <a href="" class="c-button c-button--primary dropdown-button"> <i class="fa fa-caret-down"></i></a>

                  </div>
                </div>

              </div>
            </div>
          </div>




          <div class="o-wrapper">

            <div class="content inside">
              <div class="o-layout o-layout--flex">
                <div class="o-layout__item u-9@large u-12@medium u-12@small u-12@tiny js-page">


                  <div class="card">
                    <div class="card-body">
                      <article style="float: right;">
                        سأتحدث اليوم عن سبب رئيسي يحول بينك وبين كسر حاجز بيع الخدمة الأولى؛ ألا وهو عدم القراءة.

                        كل بائع جديد يطمح إلى بدء مشواره في خمسات، لكن الغالبية العظمى لا يبذلون الجهد اللازم في تصفح
                        الموقع والموضوعات المهمة التي يطرحها زملاؤهم.

                        دعني أسألك سؤالاً: عندما كنتَ طالباً، هل نجحت بعرق جبينك يوماً، دون أن تقرأ المقررات الدراسية
                        وتجتهد في فهمها وحفظ معلوماتها؟ بالتأكيد لا.

                        نفس الشيء ينطبق على خمسات. إذا كنت تعاني لفترة طويلة إخفاقاً متكرراً في بيع الخدمة الأولى، فلا
                        بد أن تبدأ في تخصيص وقت ليس بقصير كل يوم للاطلاع على جميع أقسام الموقع بلا استثناء.

                        إن اطلاعك على أقسام الخدمات على سبيل المثال لا الحصر، سيفتح عقلك على كيفية صياغة عناوين ووصوف
                        جذابة لخدماتك، وسيمدك بسيل من الأفكار المبتكرة والقيمة. في حين أن تصفحك للأقسام التي ذُكرت فيها
                        قوانين الموقع وحقوق الباعة والعملاء ومسؤولياتهم، سيجنبك ارتكاب المخالفات ويضعك على الطريق
                        الصحيح. أما قراءتك للموضوعات المنشورة في أقسام مجتمع خمسات (نماذج أعمال قمت بتنفيذها - طلبات
                        الخدمات غير الموجودة - تجارب وقصص المستخدمين - أمور عامة حول خمسات)، فسيحقق لك فائدة ما بعدها
                        فائدة.

                        ربما هناك من يقول: ليس لديّ وقت أضيعه على القراءة؟
                        إذن، فليس للنجاح وقت يضيعه عليك في المقابل. بمعنى أنك إذا لم تكن مستعداً لبذل جهد حقيقي وصولاً
                        إلى غايتك، فلن تنجح مهما تذمرت وندبت حظك العاثر الذي صنعته بيديك.

                        نعم، لا يوجد شيء اسمه حظ عاثر، أو فعلتُ كل ما أستطيعه لكن لا أحد يريد الشراء مني، أو لا فرصة
                        للأسماك الصغيرة أمام القروش الكبيرة. هناك فقط تقاعس أو اجتهاد، إصرار أو استسلام، استراتيجيات
                        خاطئة لن توصلك إلى أي مكان، واستراتيجيات صحيحة يمكن أن توصلك إلى أي مكان تريده. يقول جاكسون
                        براون: «الحظ يمشي مع أولئك الذين يوفونه حقه من العمل الجاد».

                        إخفاقك سببه أنت ولا أحد سواك؛ سواء كان ذلك بسبب تقاعسك عن بذل الجهد اللازم، أو اتباعك أساليب
                        واستراتيجيات غير صحيحة.

                        ماذا تفعل إذن؟
                        عاهد نفسك على بذل الجهد اللازم للاطلاع على الموقع بأكمله من الألف إلى الياء. اعتبر خمسات موسوعة
                        علمية أو رواية طويلة لا يسعك الانتظار حتى تبدأ في مطالعتها من الغلاف إلى الغلاف. لا تعتبر ذلك
                        مجرد عمل بل استمتع أثناء تصفح مختلف الأقسام وأنت تشرب فناجين قهوتك اللذيذة أو كأس شاي تلو آخر.

                        وبينما تتصفح الموقع بتركيز وانتباه شديدين، دوّن ملاحظاتك، وأي شيء أثار انتباهك، أو أي فكرة خطرت
                        ببالك على دفتر خاص أو على جهاز الكمبيوتر الخاص بك في مستند وورد يمكن أن تسميه "كراسة النجاح" أو
                        "رحلة الألف ميل".

                        ابدأ في القراءة والعمل الجاد، وتذكر دائماً أنه بقدر ما تُعطي.. تُعطى. </article>
                    </div>
                  </div>
                  <br>
                  <div class="card">
                    <div class="card-head">
                      <h3 style="float: right;margin: 0.3em;">التعليقات ()</h3>
                    </div>
                    <div class="card_-body " id="post_replies">
                      <div class="comments" style="margin: 0.3em;">

                        <div style="float: right;" class="discussion-item comment" data-id="5758835"
                          id="post_reply-5758835">
                          <div class="profile-details">
                            <div class="o-media">
                              <div class="o-media__right meta--avatar">
                                <a href="">
                                  <img class="rounded-circle" src="./assets/Images/avater.png" width="65 px"
                                    height="65px" style="vertical-align:middle;float: left;">
                                </a>
                              </div>
                              <div class="o-media__body">
                                <h5 class="u-margin-bottom--tiny">
                                  <div class="meta--user">
                                    <a href="">Moaaz Ahmad </a>
                                  </div>
                                  <div class="u-block@small meta--date" style="color: gray; font-size:13px">
                                    <i class="fa fa-clock-o fa-fw"></i>
                                    <span dir="ltr" title="03/06/2021 20:25:14 GMT"> منذ ساعة ودقيقتين</span>
                                  </div>
                                </h5>
                              </div>
                              <div class="o-layout__item u-7@large u-6@medium u-hidden@small">

                              </div>

                            </div>
                          </div>
                          <div class="discussion-message">
                            <article class="comment reply_content replace_urls ">شكرا على هذه المعلومات</article>

                          </div>
                        </div>


                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="card " id="add_comment">
                    <div class="card-head">
                      <h4 style="float: right;margin: 0.3em;">أضف تعليق</h4>
                    </div>
                    <div class="card-body">
                      <form id="commentable_form" action="" method="post">
                        <div class="u-margin-bottom">
                          <textarea name="content" class="c-form__control" rows="5" clos="60"
                            maxlength="2000"></textarea>
                          <p class="c-form__hb" style="float: right;">
                            <span>استخدم</span>&nbsp;
                            <a href="https://suar.me" target="_blank" class="u-clr--primary">موقع صور</a>
                            <span>عند حاجتك لرفع أو اضافة صورة لتعليقاتك.</span>
                          </p>

                        </div>
                        <div style="clear: both;"></div>
                        <div style="float: right;">

                          <input type="checkbox" value="0">&nbsp;
                          <span>التعليق لا يحتوي على معلومات اتصال خارجية ولا يخالف</span>&nbsp;
                          <a href="" target="_blank" class="u-clr--primary">شروط موقع خمسات</a>

                        </div>
                        <div style="clear: both;"></div><br>
                        <div>
                          <button style="float: right;" type="submit" class="btn btn-success">أرسل</button>
                        </div>

                      </form>


                    </div>
                  </div>

                </div>

                <div class="o-layout__item u-3@large" id="community_sidebar">

                  <div class="card u-margin-bottom--large">
                    <div class="card-head">
                      <h3 style="margin: 0.3em; float: right;font-weight: light;">آخر المساهمات</h3>
                    </div>
                    <div class="card-body">
                      <div class="o-media">
                        <div class="o-media__right">
                          <a href="" title="">
                            <img class="rounded-circle" src="./assets/Images/avater.png" width="65 px" height="65px"
                              style="vertical-align:middle;">

                          </a>
                        </div>
                        <div class="o-media__body">
                          <h5><a href="">
                              أحتاج شخص للتسويق على يوتيوب</a></h5>
                        </div>
                      </div>

                    </div>
                  </div>



                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </header>


</body>

</html>