<div class="hsoub-container">
  <div class="hsoub-content">
    <div class="page_header">
      <div class="o-wrapper">
        <div class="o-layout o-layout--flex">
          <div class="o-layout__item u-9@large u-8@medium u-12@tiny">
            <div class="o-media">
              <div class="o-media__body">
                <h1>
                  <a href="">{{Khamsat.title}}</a>
                </h1>
                <ul class="page-meta u-12@large ">
                  <li>
                    <a class="user" href=""><i class="fa fa-fw fa-user"></i> {{Khamsat.userFullName}} </a>
                  </li>
                  <li>
                    <a routerLink="/aboutKhamsat">
                      <i class="fa fa-bars fa-fw"></i>
                      <span>أمور عامة حول خمسات</span>
                    </a>
                  </li>
                  <li>
                    <i class="fa fa-clock-o fa-fw"></i>
                    <span dir="ltr">{{Khamsat.date | customDate}}</span>
                  </li>

                </ul>
              </div>
            </div>
          </div>

          <div class="o-layout__item u-3@large u-4@medium u-hidden@small u-hidden@tiny">
            <div class="page-header-buttons">
              <a class="c-button c-button--primary" href="#add_comment">
                <i class="fa fa-comment"></i>
                <span>أضف تعليق</span>
              </a>

            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="page-navbar u-hidden@large u-hidden@medium u-12@small u-12@tiny u-text--right">
      <div class="page-navbar--tablet">
        <a class="c-button c-button--primary" href="#add_comment">
          <i class="fa fa-comment"></i>
          <span>أضف تعليق</span>
        </a>
      </div>
    </div>



    <div class="o-wrapper ">

      <div class="content inside">
        <div class="o-layout o-layout--flex">
          <div class="o-layout__item u-12@medium u-12@tiny">
          </div>


          <div class="o-layout__item u-9@large u-12@medium u-12@small u-12@tiny js-page">
            <div class="c-card">
              <div class="c-card__body">
                <article class="replace_urls">
                  {{Khamsat.content}}
                </article>
              </div>
            </div>

            <div class="c-card  " data-commentable="true" data-commentable-type="forum_post"
              data-commentable-id="516712">
              <div class="c-card__head">
                <h3>التعليقات ({{length}})</h3>
              </div>
              <div class="c-card__body u-no--padding" id="post_replies">
                <div class="comments">

                  <div class="discussion-item comment" *ngFor="let item of Khamsat._Comments ; let i=index;"
                    data-id="5792818" id="post_reply-5792818">
                    <div class="profile-details">
                      <div class="o-media">
                        <div class="o-media__right meta--avatar">
                          <a href="">
                            <img class="u-circle u-avatar@small img-thumbnail img--small" src="{{item.image}}">
                          </a>
                        </div>
                        <div class="o-media__body">
                          <div class="o-layout o-layout--flex">
                            <div class="o-layout__item u-5@large u-6@medium u-12@small">
                              <h5 class="u-margin-bottom--tiny">
                                <div class="meta--user">
                                  <a href=""> {{item.fullName}}</a>
                                </div>
                                <div class="u-block@small meta--date">
                                  <i class="fa fa-clock-o fa-fw"></i>
                                  <span dir="ltr"> {{item.date | customDate}} </span>
                                </div>
                              </h5>
                            </div>
                            <div class="o-layout__item u-7@large u-6@medium u-hidden@small">

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="discussion-message">
                      <article class="content replace_urls">
                        <article class="comment reply_content replace_urls ">
                          {{item.content}}
                        </article>
                      </article>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="c-card u-margin-bottom--large u-margin-bottom@small" id="add_comment">
              <div class="c-card__head">
                <h3>أضف تعليق</h3>
              </div>
              <hr>
              <div class="c-card__body" *ngIf="IsLogging ;then content else other_content"></div>
              <ng-template #content>
                <form id="commentable_form" [formGroup]="addCommentForm">
                  <div class="u-margin-bottom">
                    <textarea name="content" class="c-form__control" rows="5" formControlName="content" rows="5"
                      clos="60" maxlength="2000"></textarea>

                    <p class="c-form__hb">
                      <span>استخدم</span>
                      <a href="https://suar.me" target="_blank" class="u-clr--primary">موقع صور</a>
                      <span>عند حاجتك لرفع أو اضافة صورة لتعليقاتك.</span>
                    </p>

                  </div>

                  <div class="u-margin-bottom u-checkbox">
                    <label for="confirm">
                      <input name="confirm" id="confirm" type="checkbox" value="0">
                      <span>التعليق لا يحتوي على معلومات اتصال خارجية ولا يخالف</span>
                      <a href="" target="_blank" class="u-clr--primary">شروط موقع خمسات</a>
                    </label>
                  </div>
                  <div class="u-margin-bottom">
                    <input id="user_token" type="hidden" name="token" value="b91fc0c6972e0f4597fb37a1fa9040a5eabbb530">
                    <button type="submit" id="commentable_submit" class="c-button c-button--primary" type="submit"
                      (click)="createcomment()">أرسل</button>
                  </div>

                </form>

              </ng-template>
              <ng-template #other_content>
                <p class="u-text--center">سجّل دخول لتتمكن من إضافة تعليق على هذا الموضوع.</p>
                <div class="o-layout o-layout--flex o-layout--center u-margin-top">
                  <div class="o-layout__item u-3@large u-6@small u-12@tiny u-margin-bottom@small">
                    <a routerLink="/login" class="c-button c-button--block c-button--primary c-button--ghost">دخول</a>
                  </div>
                  <div class="o-layout__item u-3@large u-6@small u-12@tiny">
                    <a routerLink="/register" class="c-button c-button--block c-button--primary">حساب جديد</a>
                  </div>
                </div>
              </ng-template>
            </div>

          </div>

          <div class="o-layout__item u-3@large" id="community_sidebar">

            <div class="c-card u-margin-bottom--large">
              <div class="c-card__head">
                <h3>آخر المساهمات</h3>
              </div>
              <div class="c-card__body">
                <div class="o-media" *ngFor="let item of latestContributions">
                  <div class="o-media__right">
                    <a href="" title="Ramzi Med">
                      <img class="u-circle img-thumbnail img--small" src="{{item.image}}">
                    </a>
                  </div>
                  <div class="o-media__body">
                    <h5><a [routerLink]="['/ServiceDetails/',item.id]">{{item.title}}
                      </a></h5>
                  </div>
                </div>

              </div>
            </div>


          </div>
        </div><!--  END o-layout -->
      </div>
      <!--  END content -->
    </div>
    <!--  END o-wrapper -->
  </div>
</div>