<app-header></app-header>
<div class="hsoub-container"  style="padding: 3%; margin-top: 35px;">
    <div class="hsoub-content">


        <div class="page_header">
            <div class="o-wrapper">
                <div class="o-layout o-layout--flex">
                    <div class="o-layout__item u-9@large u-8@medium u-12@tiny">
                        <div class="o-media">
                            <div class="o-media__right">
                                <a href="/user/hoss_noor">
                                    <img class="u-circle img-thumbnail img--medium"
                                        src="../../../../assets/Images/user-avatar.png">
                                </a>
                            </div>

                            <div class="o-media__body">
                                <h1><a href="/message/16926925">استفسار عن: {{Chat.serviceTitle}}</a></h1>
                                <ul class="page-meta u-12@large ">
                                    <li>
                                        <i class="fa fa-user"></i>
                                        <a href="/user/hoss_noor">
                                            {{Chat.userfullname}}
                                        </a>
                                    </li>
                                    <li>
                                        <i class="fa fa-clock-o"></i>
                                        <span>آخر تفاعل: </span>
                                        <span dir="ltr" title="27/02/2021 17:52:54 GMT">{{Chat.date|customDate}}</span>
                                    </li>



                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="o-layout__item u-3@large u-4@medium u-hidden@small u-hidden@tiny">
                        <div class="page-header-buttons">
                          

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="page-navbar u-hidden@large u-hidden@medium u-12@small u-12@tiny u-text--right">
            

        </div>



        <div class="o-wrapper ">

            <div class="content inside">

                <div class="o-layout o-layout--flex">
                    <div class="o-layout__item u-12@medium u-12@tiny">
                    </div>

                    <div class="o-layout__item u-12@tiny">


                        <div class="c-card" data-commentable="true" data-commentable-type="message"
                            data-commentable-id="16926925">
                            <div class="c-card__body u-no--padding" >
<div *ngIf="!!Chat || !!customer || !!freelancer">
                                <div class="comments" *ngFor="let Msg of Chat.messages" >
                                    <div class="discussion-item">
                                        <div class="profile-details">
                                            <div class="o-media">
                                                <div class="o-media__right meta--avatar">
                                                    <a href="/user/hoss_noor">
                                                        <img class="u-circle u-avatar@small img-thumbnail img--small"
                                                            src="../../../../assets/Images/user-avatar.png">
                                                    </a>
                                                </div>
                                                <div class="o-media__body">
                                                    <div class="o-layout o-layout--flex">
                                                        <div class="o-layout__item u-12@large u-12@medium u-12@small">
                                                            <h5 class="u-margin-bottom--tiny">
                                                                <div class="meta--user" *ngIf="Msg.senderId == Chat.freelancerID">
                                                                    <a href="/user/hoss_noor">{{freelancer.firstName+ " " + freelancer.lastName}}</a>
                                                                </div>
                                                                <div class="meta--user" *ngIf="Msg.senderId == Chat.userID">
                                                                    <a href="/user/hoss_noor">{{customer.firstName+ " " + customer.lastName}}</a>
                                                                </div>
                                                                <div class="u-block@small meta--date">
                                                                    <i class="fa fa-clock-o fa-fw"></i>
                                                                    <span dir="ltr" title="27/02/2021 17:52:54 GMT">{{Msg.date|customDate}}</span>
                                                                </div>
                                                            </h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="discussion-message">
                                            <article class="comment reply_content replace_urls ">{{Msg.content}}</article>
                                        </div>
                                    </div>

                                </div>
</div>

                                <div class="comment-form">
                                    <form id="commentable_form" action="/message/16926925" enctype="multipart/form-data"
                                        method="post">
                                        <div class="u-margin-bottom">
                                            <textarea name="content" class="c-form__control" rows="5" clos="60"
                                                maxlength="2000" [(ngModel)]="newMsg.content"></textarea>
                                            <div class="o-layout__item u-12@large u-6@small u-12@tiny u-no--padding">
                                               
                                            </div>

                                            <div id="attachmentsUploader" class="dropzone-box hidden dz-clickable">
                                               
                                            </div>

                                            <div id="voicemessageUploader" class="voicerecord-box hidden">
                                                <div
                                                    class="voicerecord-default voicerecord-message voicerecord-box-message">
                                                    <div class="o-media">
                                                        <span class="pull-left">
                                                            <a class="c-button c-button--danger voicerecord-delete-button"
                                                                style="display: none ">
                                                                <i class="fa fa-times"></i> حذف
                                                            </a>
                                                        </span>

                                                        <div class="o-media__right u-no--margin u-no--padding clickable"
                                                            id="btn-start-recording">
                                                            <div class="record-icon">
                                                                <i class="fa fa-fw fa-microphone"></i>
                                                            </div>
                                                        </div>

                                                        <div class="o-media__right u-no--margin u-no--padding clickable"
                                                            style="display: none" id="btn-stop-recording">
                                                            <div class="record-icon">
                                                                <i class="fa fa-stop fa-fw recording"></i>
                                                            </div>
                                                        </div>

                                                        <div class="o-media__body">
                                                            
                                                        </div>
                                                        <div class="u-margin-top voicemessage-container voicemessage-recorder-player"
                                                            style="display: none" data-container="voicemessage-audio">
                                                            <audio data-type="audio-player" controls="" crossorigin=""
                                                                playsinline="" data-disable="true"></audio>
                                                        </div>
                                                        <input data-type="voicemessage" id="voicemessage"
                                                            autocomplete="off" name="voicemessage" type="hidden">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="u-margin-top">
                                            <div
                                                class="o-layout__item u-2@large u-6@small u-12@tiny u-margin-bottom@small u-no--padding">
                                                <input id="user_token" type="hidden" name="token"
                                                    value="2fc3268f89a77b1c1f6bfcdcb9e8c9abfb29be79">
                                                <button type="submit" id="commentable_submit"
                                                    class="c-button c-button--primary c-button--block"
                                                    (click)="sendMsg()" >أرسل</button>
                                            </div>
                                        </div>

                                    </form>


                                    <input id="message_id" name="message_id" value="16926925" type="hidden">
                                </div>

                            </div>
                        </div>




                        <div class="c-card u-margin-bottom@small">
                            <div class="c-card__head">
                                <h3 class="u-clr--danger">ملاحظات هامة لحماية حسابك</h3>
                            </div>
                            <div class="c-card__body">
                                <ul>
                                    <li>لا تتواصل مع أي مستخدم آخر خارج الموقع. موقع خمسات يحميك بابقاء تواصلك داخل
                                        الموقع فقط.</li>
                                    <li>لا تزود أي مستخدم تحت أي ظرف بأي معلومات حساسة أو عن حسابك في خمسات.</li>
                                    <li>لا تعطي معلومات الدخول الخاصة ببريدك الالكتروني، حسابك في PayPal أو حساباتك على
                                        الشبكات الاجتماعية.</li>
                                    <li>تزويدك لأي مستخدم بمعلومات دخول لموقعك، جهازك الشخصي أو أي شيء آخر يتم على
                                        مسؤوليتك الشخصية.</li>
                                    <li>الرسائل مخصصة للاستفسار حول الخدمة فقط ولا يجب البدء في تنفيذ خدمة أو تسليمها
                                        عبر الرسائل قبل شرائها.</li>
                                </ul>
                            </div>
                        </div>

                    </div>

                </div><!--  END o-layout -->
            </div>
            <!--  END content -->
        </div>

    </div>
</div>
<app-footer></app-footer>
