
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CDNs -->

<script src="https://kit.fontawesome.com/9ebabaf617.js"crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"crossorigin="anonymous"/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="crossorigin="anonymous"></script>

<link href="https://khamsat.hsoubcdn.com/assets/images/favicon-740117d323c70fbc071fefd88fbff2f0bb0746f995a2f852ac2d46bea229f212.png" rel="shortcut icon" type="image/png">
<link rel="stylesheet" href="//static.hsoubcdn.com/assets/fonts/css/OpenSans.css" media="all">
<link rel="stylesheet" href="//static.hsoubcdn.com/assets/fonts/css/NotoArabic.css" media="all">
<link rel="stylesheet" href="https://khamsat.hsoubcdn.com/assets/css/application-7ae93331a6ca4253577ecd9bada418ea8ae96d41b18f273ed7d183353b9bcbd3.css" media="all">
<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
<div class="body">
<app-hsoub-header></app-hsoub-header>
<div class="container-xxl" >
<div class="page">
<div class="container" style="margin-top:100px;">

<div class="page-box row">

  <div class="hsoub-container">
    <div class="hsoub-content">
      <div id="root" class="wrapper">
    <div class="container-fluid false">
      <div class="main main-spacer-wide">
        <h2>شروط استخدام حسوب</h2>
        <p>الحساب الموحد هو خدمة مقدمة من شركة حسوب تهدف لتوفير الوقت والجهد من خلال استخدام بريد الكتروني وكلمة مرور واحدة للوصول لجميع الخدمات الحالية والمستقبلية التابعة للشركة (خمسات، مستقل، إعلانات حسوب، أكاديمية حسوب، حسوب I/O ....). كذلك تسهيل عملية تعديل الصورة الشخصية، اسم المستخدم وغيرها من المعلومات الأساسية من خلال تغييرها في الحساب الموحد فقط ثم ستطبق التعديلات تلقائيا على جميع الخدمات المرتبطة بهذا الحساب.</p>
        <br>
        <p>
          في حال كنت تود التسجيل في منصة ما (خمسات مثلا) يكفي أن تنشئ حسابا جديدا واحدا في خدمة الحساب الموحد (عبر الدخول من موقع المنصة خمسات أو من موقع الحساب الموحد) وبعدها يمكنك بنفس المعلومات إنشاء حسابات جديدة/ ربط حسابات قديمة في جميع المنصات الأخرى عبر خطوة واحدة وبكل سهولة.</p>
        <br><br>
          <h2>نرجو من المستخدمين الكرام الالتزام بالشروط التالية:</h2>
        <ul>

          <li>ننصح المستخدم بعدم إنشاء أكثر من حساب حتى لايسبب هذا الأمر التشتت والضياع له.</li>
          <li>يحق للمستخدم ربط حساب واحد فقط من كل خدمة أو منتج (في شركة حسوب)، أي ستتمكن من ربط حساب خمسات وحيد في حسابك الموحد أو حساب مستقل وحيد...</li>
          <li>لايمكن إلغاء ربط حساب معين (تم ربطه سابقا) من الحساب الموحد.</li>
          <li>في حال حصول سرقة للحساب أو تبليغ المستخدم عن سرقة حسابه، يتم إيقاف الحساب بشكل مؤقت ريثما يتم تزويدنا بالوثائق والمعلومات التي تثبت شخصية مالك الحساب.</li>
          <li>التسجيل في الحساب الموحد يعني الموافقة والالتزام بشروط كل خدمة (من خدمات شركة حسوب) حالما يتم ربطها بهذا الحساب (خمسات، مستقل، صور….).</li>
          <li>يلتزم المستخدم بإضافة معلومات حقيقية في حسابه وعدم انتحال أي شخصية كانت.</li>
          <li>يلتزم المستخدم بعدم استخدام أسماء تحض على الكراهية أو تتعرض ﻷي جهة بسوء.</li>
          <li>يمنع استخدام الحساب في انتهاك حقوق الملكية الفكرية أو تشويه سمعة شخص أو مؤسسة أو شركة أو تعمد نشر أي معلومات تسبب ضررا لشركة أو شخص أو دولة أو جماعة وعدم وضع مواد قرصنة وبرامج مسروقة وجميع ما يخالف الأعراف والقوانين المنظمة، ويكون المشترك مسؤولا مسؤولية كاملة عن كل ما يقدمه عبر حسابه.</li>
          <li>إيقاف حساب المستخدم في أي خدمة أو منتج من خدمات الشركة لن يؤثر على الحساب الموحد أو بقية حساباته في الشركة في الحالة العامة.</li>
          <li>التخريب، الضرر بالمستخدمين، أو بمنتجات الشركة... سيؤدي لإيقاف الحساب الموحد لذلك المستخدم</li>
          <li>لايمكن حذف حسابك بعد إنشائه في حسوب.</li>

        </ul>
       </div>
      </div>
    </div>
  </div>
</div>
</div>

</div>
</div>

</div>

<footer style="display: flex;justify-content: center;align-items: center;height: 70px;margin-top: -80px;">
<p class="copyrights">© 2021 حسوب. جميع الحقوق محفوظة.</p>
</footer>


</div>
